[2018-10-06 07:45] aschrijver opened #1 "Mankind 2.0: Raising awareness of the impact of technology on our society"
This issue proposes a campaign theme, named 'Mankind 2.0'.

The idea was first posed by [Georges](https://community.humanetech.com/u/georges/summary) in [Producing short dramatic videos to raise awareness](https://community.humanetech.com/t/producing-short-dramatic-videos-to-raise-awareness/2767) on the Humane Tech community forum.

As part of this theme a first campaign will be launched, called '

[2018-10-06 10:41] georgeshk opened #2 "Mankind 2.0 Campaign - First Video (A coffee place)"
### Campaign theme

- [Reality Shock](https://github.com/humanetech-community/humanetech-community-awareness/issues/1) - The overarching theme of the campaign is to provoke and make people ponder the question: _"Are you really comfortable with this?"_

### Campaign

- Working title: [Mankind 2.0]

### Video No. 1

- Working title: [A coffee place]

[2018-10-07 06:49] georgeshk commented on #1
# For brainstorming: Reality Shock Campaign Theme

Among other subjects to brainstorm is the campaign theme. As Borja pointed out, we need to have a consistent theme covering all videos to be produced under this campaign.

In my draft script for the first video, I proposed:

The rationale is:

- The aim of the campaign is not to "push" a certain agenda, or impose on the audience a cinematic "lectu

[2018-10-07 06:54] georgeshk opened #4 "Reality Shock Campaign - Video No.1 Concept and First Script"
## Please all comment here for exchanges on Video No.1 Concept and First Script

Please all refer to relevant file in the /Campaigns folder.

Sorry Arnold,

I accidentally closed this issue as I created a pull request for a file containing all relevant information for the concept and proposed script of video No.1.

[2018-10-07 06:55] #4 closed

[2018-10-07 07:37] aschrijver commented on #2
I think I have a nice (working) title for the campaign / video. How do you like: **Body Snatchers**?

[2018-10-07 07:37] georgeshk commented on #1
As to the Campaign Name, I am generally fine with "Reality Shock", save that perhaps it is quite explicit as to our intended purpose, so it would be less surprising for the audience who will anticipate the whole thing. I was thinking of "Mankind 2.0" as the name of the first video, but that could also be an idea for the whole campaign. Any other idea?

[2018-10-07 07:44] georgeshk commented on #2
I was just writing about the campaign name on the other script, proposing "Mankind 2.0". More neutral, good blend. Body Snatchers makes sense, especially given the proposed conclusion of Video 1, however it is explicitly negative, and my thinking about the whole campaign was that we should appear as neutral as possible. We observe, but don't point in any direction (well, we obviously have our own

[2018-10-07 07:46] patmatsu commented on #2
How about "Picture This"? Or is that too subtle or indirect?

[2018-10-07 07:48] aschrijver commented on #2
Ah, sorry for prematurely editing. But this is the first issue, so we'll experiment with it.

I am not sure about that. You also wanted to create 'shocking video's' to raise awareness with young people, and have viral potential. Even though named 'Body Snatchers' the video can still end on a positive note, after the first suspense.

If I read your script you are showing people getting more and mor

[2018-10-07 07:52] georgeshk commented on #2
## Distinction between Campaign and individual videos

I think we have a misunderstanding about what is a campaign. For me, one of the campaigns is "Reality Shock" or "Mankind 2.0", and includes all short videos that shared the common theme (see discussion in the campaign thread). The other campaign is "Phone Zombies".

## Mode of collaboration

I noticed you already made changes to the campaign n

[2018-10-07 07:55] georgeshk commented on #2
Just saw your post about working title. Sorry I missed the distinction. However, I feel we should be consistent between how we call the thing internally and externally, out of transparency.

Anyway, let us not get bogged down in discussions about codenames or such, it is not that important. But, PLEASE, do not make changes without getting consensus!

[2018-10-07 07:59] aschrijver commented on #2
You are entirely correct, and this is not good Github behavior, so sorry once again. But this discussion is premature, since both the project structure, proces and information model of themes vs. campaigns is incomplete. I was trying to help. I'll not pollute this discussion with that info, but create separate issues for that :slightly_smiling_face:

[2018-10-07 08:11] georgeshk commented on #2
Hi Arnold,

No harm done, I changed it back already. Yes, I think we have not all agreed on names, themes, campaigns definition.

For me, there are 2 campaigns right now:

- The short videos (plural) all under the name "Reality Check", which I borrowed from you
- The Phone Zombies project

These are the names we should use for now to designate the two campaigns.

Now, under "Reality Check", there

[2018-10-07 08:41] georgeshk commented on #2
So we would have a unifying theme, under which would be two campaigns (for now), each with their own nuances and variations: the short, dramatic videos I was thinking of, and the "Phone Zombies" video you had in mind. This could work! Both campaigns could share all the strategic folders structure I discussed earlier in the pull request. Under "Campaigns", we would have "Phone Zombies" and "Mankind

[2018-10-07 09:02] aschrijver commented on #2
Yes, this was the idea. But let's completely separate the structure stuff (I'll create a separste issue on this as soon as I have time) from your current idea (this issue). I like where you are going with it.

[2018-10-07 10:05] georgeshk opened #5 "Reality Shock Project Structure"
## Discussion on the repository structure

I would like to propose the following:

### Unifying project theme

All campaigns to fall under the theme named "Reality Shock", meaning to "Provoke and ask the question: "Are we really fine with this?""

### Individual campaigns

As of now, we have two proposed campaigns falling under the unifying theme, as follows:

- [Mankind 2.0]: Short, dramatic vide

[2018-10-07 19:21] aschrijver opened #6 "Structuring campaign themes and campaigns"
This is a follow-up to [Reality Shock Project Structure](https://github.com/humanetech-community/humanetech-community-awareness/issues/5), with the purpose to generalize the campaign management structure.

We both need a clear project structure and 'information model' (terminology / relationships) on how to set up campaigns.

Requirements:
- Consistency across campaigns
- Improving readability, ge

[2018-10-07 23:41] georgeshk commented on #6
My goodness! That is very impressive work. Seems all good to me. To make sure I understand correctly, if we have a campaign that includes several videos, we would need to refer it to one of the themes and store it under /Campaigns. Under this campaign, we would then have a /Deliverables folder, under which would come each separate video. In say /Video-1 folder, we would have a readme file that sho

[2018-10-08 02:12] georgeshk opened #7 "Proposed description of "Mankind 2.0" campaign (draft README.md)"
| Field | Description |
| :---: | :--- |
| `Name` | Mankind 2.0 |
| `Summary` | Series of short, dramatic/impactful videos that illustrate the pervasive use of technology and rapid, drastic changes in our society, leading to introspection and pondering the question: "Are we really fine with this?" |
| `Goals` | <ul><li>Shock the audience</li><li>Lead to introspection and questioning</li><li>Make t

[2018-10-08 02:34] patmatsu commented on #7
Sounds great; I can help with writing, editing, and proofreading.

[2018-10-08 02:43] georgeshk commented on #7
Hi @patmatsu

Great! I am not a native English speaker, so that would help a lot. Also, please feel free to express your views on the content itself.

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: patmatsu <notifications@github.com>
Date: 10/8/18 10:34 (GMT+08:00)
To: humanetech-community/humanetech-community-awareness <humanetech-community-awareness@noreply.git

[2018-10-08 02:55] patmatsu commented on #7
Thank you, @georgeshk. I will do my best to contribute.

Have you by chance seen this [video](https://www.youtube.com/watch?v=tf9ZhU7zF8s) by Max Stossel, a member of the CHT team? I believe he helped establish the forum.

[2018-10-08 03:03] patmatsu commented on #7
I bring up the video because it is very good in some ways and not good in other ways. I therefore think it might be helpful in establishing what qualities or characteristics are desirable and what aren't.

[2018-10-08 03:30] georgeshk commented on #5
Issue closed as all input comprehensively dealt with in https://github.com/humanetech-community/humanetech-community-awareness/issues/6

[2018-10-08 03:31] #5 closed

[2018-10-08 03:35] patmatsu commented on #7
I agree with and support everything you say. Thank you, @georgeshk :-)

[2018-10-08 03:37] georgeshk commented on #2
Proposing to close the issue as @schrijver clarified all terms in https://github.com/humanetech-community/humanetech-community-awareness/issues/6

With the theme "Reality Check", the proposed campaign name is "Mankind 2.0". I will introduce the first video ("A coffee place") of this campaign in a new issue.

[2018-10-08 05:10] georgeshk commented on #1
An attempt at the README file.

| Field | Description |
| :---: | :--- |
| `Name` | Reality Shock |
| `Summary` | Raising awareness of the impact of technology on our society by producing unsettling or jarring experiences resulting from a wide disparity between what was expected and what the real situation turns out to be. |
| `Topics` | <ul><li>Smartphone addiction</li><li>Social media addiction<

[2018-10-08 05:30] ghost opened #8 "Reality Shock: Video "Caffeine Injection" (formerly "A Coffee Place")"
# "Caffeine Injection" Deliverable

## Info

- Name: **Caffeine Injection**
- Type: **Video**
- Campaign: [Reality Shock](campaigns/reality-shock/README.md)
- General discussion: [This forum topic](https://community.humanetech.com/t/reality-shock-video-caffeine-injection-campaign-deliverable/3967)

## Summary

Short video depicting the rapid and drastic growth in smartphone addiction.

## Goals

-

[2018-10-08 06:06] #2 closed

[2018-10-08 08:12] aschrijver commented on #1
Damn, I am making a mess of this thread :slightly_smiling_face: Should create new issue.

Let me address part of my feedback on **Mankind 2.0** here, then @georgeshk :

- 'Mankind 2.0' is a much broader concept than 'Reality Shock'
- I think Theme and Campaign names should be swapped
  - The theme should be 'Mankind 2.0'
  - The campaign then is 'Reality Shock'
- Makes more sense to me as the deli

[2018-10-08 08:41] georgeshk commented on #1
I am outside now but I guess should not be a problem to swap the names. So, Phone Zombies would also fall under Mankind 2.0? If confirmed, I can take care of swapping the names in relevant issues and readme files.

[2018-10-08 08:52] aschrijver commented on #6
Yes, that is the gist. We should not make the folder hierarchy too deep (unwieldy), but maybe an extra level for deliverable type is need, otherwise the subfolder name should indicate the type. Options:

1. `campaigns/phone-zombies/video-app-infection`
2. `campaigns/phone-zombies/video/app-infection`

My preference swaps between 1. and 2.

---

I've added 2 fields to the information model above: `

[2018-10-08 08:55] aschrijver commented on #1
I am editing right now, so I better do the swapping. Have some checkins to make soon.

The Phone Zombies is part of a different theme 'Speak Easy', because the overall objective here is to change pubic consciousness by introducing new language terminology (in popular language / slang).

[2018-10-08 08:58] georgeshk commented on #1
In that case, then ok with swapping the names, now that Phone Zombies is under a different theme, no more concerns.

[2018-10-08 09:50] micheleminno commented on #8
I can contribute on the first video script, ideas and maybe storyboard…
according to me, the main concern is how to avoid cliches about these kind of videos where someone tells you to be afraid of something. The video should flow as natural as possible, without underlying the bad points of the whole situation too much. I will think about it.

[2018-10-08 10:04] georgeshk commented on #8
Agreed. Looking forward to seeing your ideas. Please listen to the music while you try to picture the scene. It is important because this music evokes progress, but also has some nostalgia in it. To address your main concern, I believe the video can be made neutral up to the very last few seconds where the person realizes he is alone. That fits with the campaign theme of "Reality Shock"

[2018-10-08 10:35] aschrijver commented on #1
I have been editing all over the place, to make things interconnect. But all folders, subfolders and README's are now there, the swapping is done. I am now cleaning the issues a bit (just changing titles)

Though it may be better if I create new ones (copies), once I have created proper issue templates. Then we'll have clean slate and I will give feedback to your great drafts (if I have any).

Agr

[2018-10-08 10:50] georgeshk commented on #1
Ok. Near 7pm here so will look at it tomorrow. Right now, I am more concerned about the forum... As you know, I strongly suggest labeling all campaigns under "Awareness". Advocacy is not our concern here. We are very far from being able to go there.

[2018-10-08 13:41] aschrijver commented on #6
I have created the _Issue Template_ for themes. You can test it creating a new issue and selecting the 'Theme proposol' issue type (but do not save the issue, unless making a real proposal).

[2018-10-08 14:48] georgeshk commented on #6
Propose to call deliverables folders as following example: "video(app-infection)", i.e. "[type]([working-title])", or anything that specifies both the type and working title.

As to structuring in general, up to a few admins to make sure all is consistent when adding final products of discussions to the folders. Let us make it simple for the majority of contributors.

[2018-10-08 15:39] micheleminno commented on #8
I was thinking that two minutes and a half are a lot. We need a story with a character people can relate to.
My idea is to show a person 'A' (man or girl) interacting with all other changing people from the beginning (located in time somewhere at 1950-60) to the end (present time or maybe near future).
So for example A at the beginning is playing pool with friends, laughing, smoking, making jokes

[2018-10-08 19:03] aschrijver commented on #6
I prefer option 2 then. `(` and `)` are reserved characters in URL's and also do not work well across OS'es.

Yes, few admins, otherwise it will be a mess. In Github terms they are called 'Maintainers' btw.

I created 2 issue templates, with 2 more to come tomorrow. Did not update issue content accordingly (but that was just nice as example and for 'clean slate', not _really_ needed).

[2018-10-09 00:43] patmatsu commented on #8
Want to point out that you can purchase stock footage at [Vimeo](https://vimeo.com/stock).

[2018-10-09 01:01] georgeshk commented on #8
So for example A at the beginning is playing pool with friends, laughing, smoking, making jokes loudly. Then smoothly the scene changes and A is discussing animately with other people (years '68 or so), other clothes, other styles and forniture. Then the same for '80, '90, '00 just till the last part when everybody else (including A) is at their smartphones.

Hi Michele, your idea is quite distinc

[2018-10-09 01:05] georgeshk commented on #8
The proposed video duration is 2:37, matching the music theme. I will watch a couple of videos of the same duration and take note of how much happens/should happen in that timeframe (so as to anticipate the needs of our future storyboard). So far, not so much concerned, as the music theme is very engaging and powerfully building momentum.

[2018-10-09 01:12] georgeshk commented on #8
Nothing wrong with having a central character viewers can relate to (I was thinking of another story where we follow someone experiencing the aftermath of a data breach), however it is not always necessary.

In the proposed video here, we depict a crowd scene, there are many characters with whom we can associate. They represent society as a whole going through a dramatic and sudden transformation.

[2018-10-09 01:35] ghost opened #9 "Crowdfunding / other financing options"
Producing high-quality videos with maximal spread and impact potential will require commissioning professional video producers. While we should and will try to secure advantageous terms or even a free deal (not unusual for producers to work pro bono if they believe in the project's potential), it is quite likely we will have to incur costs.

Hence the question: "How to raise the funds?"

Crowdfund

[2018-10-09 01:37] georgeshk commented on #8
Hi @patmatsu , Right now the plan is to commission professional video producers. Producing a high-quality video is a complex business, and it is hard to imagine we can form a full production team in-house.

[2018-10-09 02:26] ghost opened #10 "Reality Shock: Video "Dirty Laundry" (formerly "Data Breach")"
# "Dirty Laundry" Deliverable

## Info

- Name: **Dirty Laundry**
- Type: **Video**
- Campaign: [Reality Shock](campaigns/reality-shock/README.md)
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

Short video showing someone experiencing the violent aftermath of a severe data breach.

## Goals

- Exposing the grave dangers of entrusting tech companies with very sensitive

[2018-10-09 02:54] georgeshk commented on #1
Good morning @schrijver

Woke up to see all the great work you did here. The whole place now seems to have found its natural order.

Note to all contributors: there has been a lot of structuring work going on here for the sake of making our collaboration super efffective (all thanks to Arnold). No need to focus on this, please go and provide your insights on the themes, campaigns and deliverables

[2018-10-09 07:43] micheleminno commented on #8
Ok, you're right, I will do it.

[2018-10-09 07:53] georgeshk commented on #8
Hi @micheleminno

Great to have fresh ideas! Looking forward to reading your detailed script.

[2018-10-09 08:39] micheleminno opened #11 "Reality Shock: Video "Memories of a bartender""
# "Memories of a bartender" Deliverable

## Info

- Name: **Memories of a bartender**
- Type: **Video**
- Campaign: [Reality shock](campaigns/reality-shock/README.md)
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

Short video about the evolution of social relations in a shared space (a bar).

## Goals

- Offer a glimpse of how we used to relate each other in the past

[2018-10-09 08:47] georgeshk commented on #11
Love the idea of a natural constant observer (the bar owner) and a constant place (the popular bar), witnessing transformations through generations. First, it is mostly music (am I wrong?) and tastes, but suddenly it is everything (the omnipresence of the phone). So (again, am I wrong?), it would depict a gentle evolution, followed by a shocking new paradigm: the phones changed everything!

[2018-10-09 08:54] micheleminno commented on #11
Thank you, yes the phones changed everything, uniforming the actions and reactions of people, pushing people to internalize more and more feelings and thoughts. Before, there was music, jokes, noise, discussions, even fights, after only clean well educated silent people, each one seated and looking down on their screen, not expressing or showing nothing at the exterior, in that moment, in that pla

[2018-10-09 09:27] georgeshk commented on #9
About sponsors: I see a lot of movies sponsored by "The National Lottery", or the lot. Worth exploring.

[2018-10-09 14:38] aschrijver commented on #11
(@micheleminno I have updated your issue to comply to the template I just created, with minor edits)

I love :heart: your idea too. It inspired me for the [Video deliverable proposal](.github/ISSUE_TEMPLATE/video-deliverable-proposal.md) template sample text. But I gave it a different twist. Allow me provide some feedback..

- **Potential reach**: Having a spoken narrative in the video narrows the

[2018-10-09 15:08] aschrijver commented on #2
Minor correction for anyone still reading this: Theme = Mankind 2.0, Campaign = Reality Shock
Thanks for bringing this to a new issue @georgeshk !

[2018-10-09 15:11] aschrijver commented on #1
Thank you @georgeshk . I will use your template text to create a new issue (as soon as I get to it), and close this one, so we have a clean slate to work from.

[2018-10-09 15:18] georgeshk commented on #11
@aschrijver

Fantastic, very thorough feedback. I hope Michele you will like it too. This is getting closer to a detailed storyboard.

On production: as you know, I am very much inclined to go for professionals. You have demonstrated great talent for putting things into place and addressing many technical aspects. However, I am concerned with the special art of production, including arranging shoo

[2018-10-09 15:18] micheleminno commented on #11
Hi @aschrijver , thank you for the editing of the template.

I read your alternative version, I like it but I think it gives a different flavour, more like science fiction. Instead I wanted to create the atmosphere of plain reality, of a sort of mockumentary around the character od the old bartender, and without any final dystopian future scenario. I want to keep it light in terms of persuasion, j

[2018-10-09 15:26] aschrijver opened #12 "Mankind 2.0: Raising awareness of the impact of technology on our society"
# "Mankind 2.0" Campaign Theme

## Info

- Name: **Mankind 2.0**
- General discussion: [Community forum topic](https://community.humanetech.com/t/mankind-2-0-campaign-theme-making-people-aware-how-technology-impacts-their-lives/2785)

## Summary

Raising awareness of the impact of technology on our society by producing unsettling or jarring experiences resulting from a wide disparity between what

[2018-10-09 15:28] #1 closed

[2018-10-09 16:09] aschrijver commented on #11
That is no problem. We could have 2 scripts, though we still seem reasonably aligned. There is no science fiction, or dystopic effect in the script I propose.

More a melancholy when the end reflects back to the beginning, and there is the realization that "something" is really lost. In both script versions the barman retires, though in mine the bar is closed (probably you found that dystopic).

Y

[2018-10-09 17:03] micheleminno commented on #11
# But the "Now it's all silent and peaceful, it's time for me to leave this job" sentence doesn't seem to me to get the message across. It's like 'All is well and good now.. the new generation is different and that is fine'. Maybe that is your intention, though.

No, it’s not my intention, how bad is the situation will result by contrast. The man feels the sadness but with words he tries to justif

[2018-10-09 18:53] aschrijver opened #13 "Idea: Global Awareness Hackathon to boost project, jumpstart crowdsourcing"
## Background

There is really a lot to do to get this project roaring ahead. Besides all the work that goes into setting up campaigns, produce video's and other deliverables, we need to determine strategies, organize funding initiatives, rally more people to the cause, etc. etc.

On the forum we already have a campaign team of 11 members only 2 days after the [Call for Participation](https://comm

[2018-10-09 22:59] georgeshk commented on #11
Yes the fact that the bartender is old should be handled with caution (older people more resistant to technology, therefore more likely biased). Remember we should in this  campaign make observations, but remain as neutral as we can, and leave it to the audience to reach their own conclusions and go into introspection.

I like the idea that the bar ends up close and the camera looking at pictures

[2018-10-09 23:11] georgeshk commented on #13
Sorry but I strongly disagree on this point.

First, logistically, it is quite improbable we can find large teams to undertake the production of deliverables within the community or close friends, with the availability required to deliver. Not to mention members are based in different locations.

Second, my objective has always been to create videos of very high quality to maximize effectiveness (

[2018-10-09 23:35] georgeshk commented on #13
Here are the very few and simple steps I would propose to take towards quickly achieving our objectives.

1. Community discusses and finalizes campaign themes, campaigns and deliverables (once one deliverable's concept is finalized, we can proceed to the next step).

2. Community approaches video studios with themes and concepts of deliverables. I will shortly draft a cover letter that anyone coul

[2018-10-10 01:11] georgeshk commented on #13
Another important comment on the practicalities: the large majority of contributors of any community tends to engage in discussions of ideas, comments and opinions. Very few have the drive and availability to take any part in the execution, hence it makes a lot of sense to consider this platform as a project management team.

[2018-10-10 02:27] ghost opened #14 "Template: Letter (Request for Proposal, or "RFP") to video studios"
Here is a template of a letter members working on a particular deliverable (here, a video) would send to potential movie studios (I am not talking about Century Fox here, but smaller studios!) to request a proposal and quotation. Having a template ensures consistency, structure and comprehensiveness in our approach to video studios, enabling any member to be involved in a coordinated fashion.

Not

[2018-10-10 04:48] georgeshk commented on #11
One more general comment on the Reality Shock campaign and each video initiative. Each is the "baby" of the person who first proposed a concept for a new video, and as such, this person should take the lead in all aspects of making it come to realization. At the same time, all concept originators such as you @micheleminno and others such as yours truly should be involved in shaping up other video

[2018-10-10 05:31] aschrijver commented on #13
This is okay. I am not suggesting that _all_ video's should be produced like this. Nor am I saying that all should be produced professionally. Both are valid approaches, and we can decide on a case-by-case basis. Both the professional and crowdsourced paths are valuable tools in our toolbox, and should be further developed.

Not saying it is easy, and it is improbable _at the moment_ since we only

[2018-10-10 05:42] georgeshk commented on #13
Got it. I propose we try both approaches (in-house or professional production) on a case by case basis, with the final choice being made by the particular deliverable/video concept originator. I think it would make it easy to move forward, as the originator is the best placed to consider how his vision can be effectively materialized. So, I guess all good here.

I guess I misunderstood your object

[2018-10-10 05:45] georgeshk commented on #13
Re. project and high-level issue, I am afraid I am a bit lost. The 5-step path I propose could make way I guess for a project working plan (no idea though how to work that out in Github, thanks in advance for your guidance).

[2018-10-10 06:04] aschrijver commented on #13
I agree the originator will have a big, if not biggest say, but this also depends on case-by-case basis. Some people just want to provide the script and not involved further. Other times it may be a more democratic or organic decision (If for instance you don't get the team for your approach). That's the nature of crowdsourcing. We don't set it as a fixed rule (at project scope, but per campaign/d

[2018-10-10 06:13] georgeshk commented on #13
Let us be careful here. Most people are very happy to judge, give opinions and criticize (it doesn't take much effort), but not actively involved in the heavy duty work. My view: if someone comes up with a concept and is ready to lead it to conclusion, let's give him control over the whole process and final decision-making. If someone else comes up and seems as ready to make his initiative a succe

[2018-10-10 06:56] micheleminno commented on #11
Good point, he is not against technology because we can see that in every decade he uses technology to attract customers and make them feel good. I.e. karaoke in the '90s, arcade videogames, etc. it must be evident by the images that all these technology generate sociality among customers, instead of repress it. At present time he's doing all it's needed to please customers (soft music, wifi, rech

[2018-10-10 07:01] micheleminno commented on #10
I was wondering if it's not too much for a search history made public. After all she found information about her connections that were public. Why should they be so upset with her?

[2018-10-10 07:04] micheleminno commented on #8
Is there a way viewers can understand the temporal switch between the first customers busy in traditional activities and the new customers busy with their smartphones? Or is it just guided by the crescendo of the music?

[2018-10-10 07:08] georgeshk commented on #10
It is a nightmare scenario indeed. Why is it so scary is that many of us search for topics on very intimate private issues (say sex for example).

I think my scenario was not clear enough. She is not searching for her friends' online details, but say for topics like "why is my best friend such a c***?" or "I think my boyfriend is cheating on me".

So we would need to brainstorm about some search t

[2018-10-10 07:16] georgeshk commented on #8
Hi @micheleminno

Good question. My thinking was to make the temporal switch implicit (and you are right, the music makes it so, as it evokes irresistible progress). At first, the new patrons seem like the first, but after a while they pick up their phones. More and more waves of new customers, this time arriving with their phones up, talking or typing.

I picture it would work this way. Making it

[2018-10-10 07:20] georgeshk commented on #13
What a wonderful idea! Academies could provide a wonderful in-between solution between in-house and professional production.

@patmatsu : would you consider taking the lead on this very promising option?

[2018-10-10 07:31] georgeshk commented on #11
Yes, that sounds very meaningful to me. He has gotten accustomed to all evolutions of technology through generations, but this one, he cannot take it anymore. It is too much, and the place is no longer the place he loved to work in for decades.

His quitting or closing the bar (I like to think he is the owner) means an end to an era. Viewers sympathize with a old bar owner, because he has seen a l

[2018-10-10 07:39] georgeshk commented on #13
Great! Your discussions could help form a whole new strategy aimed at acadamies either in the US and Europe who could be inspired to take on our concepts.

[2018-10-10 08:05] micheleminno commented on #10
Perhaps she reveals by the searches she made something private about herself. Something like “how to cure depression” or other medical issues, or sexual orientation, .. do that her boss wants to fire her with some excuse..

[2018-10-10 08:10] georgeshk commented on #10
Yeah something like that. It needs to be progressive. She starts with something rather innocent, such as "tips to look more attractive", then proceeds to "boyfriend neglects me", "my best friend is a c***", "is my boyfriend cheating on me", to "unsastified in bed", "spice up sex life", "threesomes", etc. You get the drift

[2018-10-10 08:32] georgeshk commented on #11
The idea of a new bartender is good (I was thinking of a new, modern business taking over the location to highlight the transition).

It represents a new generation taking over from the old, but that is all uniform and character-less.

This is the scary prospect for many of us who have witnessed the whole evolution: in our old age, will everything be unlike what we used to love?

[2018-10-10 08:36] aschrijver commented on #13
Yes, this is a great idea, and also what I was envisioning when writing in the example _"The art academy in their city can also help with this, for free."_. Crowdsourcing does not only involve the crowd that signed up, but could include many external parties on one-time, or continuous basis.

Examples:

- Art academies do a video project for CHT as part of one of their curriculum projects
- Busine

[2018-10-10 08:45] georgeshk commented on #13
I think it is a fantastic idea worth actively exploring. Each of us in our respective countries could touch base with their national/local visual art academies and introduce our initiatives (happy to draft a template letter/email for all of us).

At first, we would introduce our campaign objectives and seek feedback. We can them follow on with practical video projects to work on. Maybe one or two

[2018-10-10 08:51] ghost opened #15 "How to effectively produce videos"
There has been a debate brewing on how to produce videos with maximum spread and impact, while keeping costs low.

In this thread, we discuss the practicalities of three proposed modes of production, namely:

- In-house (crowdsourced)
- Professional studios - see [template RFP here](https://github.com/humanetech-community/humanetech-community-awareness/issues/14)
- Visual arts academies

Each opti

[2018-10-10 08:54] georgeshk commented on #13
Just created a new issue (#15) on video production. For clarity, let us move there for discussions on the visual arts academies initiative.

[2018-10-10 08:56] georgeshk commented on #15
Hi @patmatsu

We all await your ideas here on discussions with Visual Arts Academies.

[2018-10-10 08:59] aschrijver commented on #10
I can see what @micheleminno means, but I also get your, @georgeshk, intention to focus on the search results.

The concept of a 'Data Breach' is very actual these days, and continuously in the news. It is also much broader, and usually does not pertain to 'search results', but a platform that is hacked and all your accounts and/or complete personal information now on the Dark Web, etc.

But searc

[2018-10-10 09:20] aschrijver commented on #10
Yes, could be. Some more brainstorming: Searched Too Much, Found Out, Unintended Search Results. You pick the one you like most, is most fitting :)

[2018-10-10 09:32] aschrijver commented on #10
That is true, but it does not make reference to search, and als 'dirty laundry' is a broad concept too, more criminal, or illegal connotation.

[2018-10-10 09:35] georgeshk commented on #10
No la, dirty laundry refers to something that should be kept private, but in this case, is not. We all have dirty laundry in the common use of the expression, there is nothing illegal or criminal there!

[2018-10-10 09:36] georgeshk commented on #10
According to Merriam Webster:

Definition of dirty laundry. : private matters whose public exposure brings distress and embarrassment

[2018-10-10 10:28] georgeshk commented on #14
Thanks @schrijver, it means a lot

[2018-10-10 12:15] aschrijver commented on #10
Let's go with that then :)

[2018-10-10 18:03] patmatsu commented on #14
Yes, very good, @georgeshk. To explain a bit about what I'm going to do with regard to the Academy for Creative Media: one of my good friends, Noah, is a good friend of an ACM graduate who is now living and working in the California film industry. My idea is to approach her through Noah to see what her ideas might be with regard to our proposal and, of course, to see if she wants to submit a bid h

[2018-10-11 01:03] georgeshk commented on #11
@micheleminno

There has been quite a lot of feedback and suggestions on your idea. Would you care to update/expand the script contained in your first post, taking on board all such comments that we all seem to agree on?

(As discussed in my previous post, concept originators ideally should take the lead on developing their initiative, maintaining/updating all relevant details such as scripts, etc

[2018-10-11 01:05] georgeshk commented on #12
Guys, I know we are still very few to constitute a representative segment of the community, but seems we all agree on this (unless you have any comment), plus we started with concepts falling under this theme.

Proposing to close this issue and move them description to the "Code" section. Agreed?

[2018-10-11 01:06] georgeshk commented on #7
(Same as with Mankind 2.0 theme proposal). I know we are still very few to constitute a representative segment of the community, but it seems we all agree on this (unless you have any further comment), plus we started with concepts under this campaign.

Proposing to close this issue and move campaign description to the "Code" section. Agreed?

[2018-10-11 01:11] georgeshk commented on #10
@micheleminno

Corrected the script to make it clear she is not searching for info about her connections, but for embarrassing topics that may relate to her connections (e.g. sex life/boyfriend, friendship/best friend, etc..)

[2018-10-11 03:33] georgeshk commented on #10
Here is an attempt at the queries she would run on Search, progressing in level of intimacy and potential embarrassment. One issue: there needs to be continuity in the topics she searches, making it natural to move from one to the next. So we cannot address all subjects that are relevant to each of her job, boyfriend, girlfriends and parents. We need to find a theme that will embarrass her with ev

[2018-10-11 04:43] georgeshk commented on #8
The superimposed windows could show the computer scripts of tech firms running at all times, making users very busy indeed, and where you see processes being executed one by one:

- Name, sex
- Income level, user segment (say "high-value", "mid-value", "low-value")
- "New message... parsing..."
- "New interest identified... updating profile... pushing notification... Done"

We can think of other c

[2018-10-11 07:46] micheleminno commented on #11
Yes, I will do it. I was also starting to arranging a first draft of the readme file, with some pictures useful to convey better my idea.. Is it better to update the issue or write the updated version directly on the draft readme file (or both)?

[2018-10-11 07:52] georgeshk commented on #11
I would propose for you to update the first post at the top of this issue (and add a comment at the bottom explaining the changes you made in a few words). My thinking is the concept designer maintains the script, hence no need to keep all earlier versions, otherwise makes up for top much reading.

[2018-10-11 07:57] georgeshk commented on #11
Also @micheleminno

Please start thinking of all production options we discussed so far (crowdsourced, visual arts academies, or professionals) and indicate which of these avenues you would propose.

@patmasu and @aschrijver suggest visual arts academies, I think that is a good compromise between crowdsourced and professional production. Unless we are ok to wait for a long time, I dont believe we

[2018-10-11 10:46] aschrijver opened #16 "Document procedures and workflows for contributors and maintainers"
This issue is just the starter of a bunch of activities aimed to make working with Github and this project easier and efficient, and - importantly - manageable when the number of collaborators grows.

This will all be added to easy to understand documentation at a later stage. For now I'll just add things of importance here.

---

There are 3 levels of access to this repo (and every other one in o

[2018-10-11 11:10] aschrijver commented on #14
(changed label to 'strategy' as this is about content/subject matter, not project/repo structure, workflow)

This requires special care and attention!

You know my position on openness, open-source, crowdsourcing, public domain and being an exemplar of humane tech. Before we can add text like this, this position has to be formalized and well-defined at the community level, however.

This does not

[2018-10-11 11:13] aschrijver commented on #14
I suggest creating a Pull Request with the template text above, so we can make reviewed correction, while continuing discussing here. The RFP can live as a `rfp-template.md` document in the `strategy` folder for now, and later moved. When text is stable, we'll create Word/OpenOffice/PDF derivatives with a version number.

[2018-10-11 11:43] aschrijver commented on #12
I agree, but first create a Pull Request (PR), and only close this issue once that PR is merged. That is the best workflow. And we could also keep it open a bit longer for discussion in case more things pop up.

[2018-10-11 12:21] aschrijver opened #17 "Document guidelines for including copyrighted content and images"
This issue was triggered by the https://github.com/humanetech-community/humanetech-community-awareness/issues/11#issuecomment-428855298 made by @micheleminno and concerns including content and images that may be subject to copyright.

This is a documentation task, that should become part of Contribution Guidelines.

---

It is very common for people to 'steal' pictures and video's from all over th

[2018-10-11 12:34] aschrijver commented on #10
I think it is important that - while Big Tech companies have their issues regarding humane technology - we don't 'attack' or judge them directly. We don't want them to start working against us, but adopt best-practices with our (and many other's) nudges. Also we need to run social media marketing using their platforms.

So I suggest that we use actual search results, but edit the html to show diff

[2018-10-11 12:36] aschrijver commented on #10
Yes, and even worse. These are some really good query examples (but, if need be we can create separate issue to refine them and make final).

[2018-10-11 12:51] georgeshk commented on #10
Fully agreed. See my disclaimer in the issue on the "a coffee place" video. Tech companies are not an enemy, they have the power to reinvent themselves by adopting humane technology principles, while still striving.

That was my idea. Google's actual results give us ideas as to what search results would look like on Search. No need to copy paste, can just get inspiration to draft our own HTML page

[2018-10-11 12:53] georgeshk commented on #10
In my view, let us keep all discussions on one thread (too many threads, too few people, hard to link between all related issues)

[2018-10-11 13:14] aschrijver commented on #7
Let's leave open a bit longer, but create the document (as I PM'ed about just now)

[2018-10-11 15:05] georgeshk commented on #14
I believe if the studio agrees to produce for free, it is hard not to give them credits for the production (even when the studio is paid, credits should be paid to the producer).

I called it "publicity and other advantages to be discussed". If you do not like the word "publicity" as it may imply the studio is free to distribute the video through other means for their own benefits, thus in the pro

[2018-10-11 15:06] georgeshk commented on #14
Will do.

[2018-10-11 16:28] aschrijver commented on #14
As long as we'll take my point of care and attention into account, I am fine with that. But I wanted to mention it explicitly, so that we don't get these discussions when commitments have already been made.

[2018-10-11 16:32] aschrijver commented on #8
Love the idea, @georgeshk We can create a sub-task (issue) and look in our community for someone with UX / animation skills that can design the windows concept further, and assign to her/him.

[2018-10-11 16:40] aschrijver commented on #8
I've been thinking this video deliverable should have a different name. Whereas a theme or campaign has a working title, the video deliverable name is part of the campaign strategy. It should help attracting attention to the video, together with the video thumbnail (a clickbait-y snapshot from the video). If I only encounter the video title, I will probably not click-through. If there is a thumbna

[2018-10-11 16:49] aschrijver opened #18 "Cross-linking issues with forum topics and vice versa"
Need to create links to forum topics in the various README's and create forum topics that have a copy of the Proposal issues from Github in them and a link to GH issue.

[2018-10-11 17:33] aschrijver opened #19 "Speak Easy: Introducing language to change habits and culture"
# "Speak Easy" Campaign Theme

## Info

- Name: **Speak Easy**
- General discussion: [This forum topic](https://community.humanetech.com/t/speak-easy-campaign-theme-introducing-language-to-change-habits-and-culture/2786)

## Summary

Raising awareness by introducing and popularizing new urban language. Brainstorming for terminology to be inject into our day-to-day conversations through smart campa

[2018-10-11 19:43] georgeshk commented on #8
Fully agreed. I really like something like "caffeine shot", as it is more neutral, will think about it further.

[2018-10-11 20:31] aschrijver opened #20 "Dogfooding: Using campaigns to strengthen our projects and community"
# "Dogfooding" Campaign Theme

## Info

- Name: **Dogfooding**
- General discussion: [This forum topic](https://community.humanetech.com/t/dogfooding-using-campaigns-to-strengthen-our-projects-and-community/2825)

## Summary

Simple measures can greatly increase digital wellbeing, once people are aware of their tech habits.

## Topics

- Community building
- Growth hacking
- Volunteering & 'recrui

[2018-10-11 20:51] patmatsu opened #21 "Examples of favorite videos with a message"
I think this is a beautiful video, and I would like to see the ones we produce reach this standard of effectiveness and power.

http://walkwithmefilm.com/trailer/

[2018-10-11 20:59] patmatsu commented on #10
I don't like this characterization of a female. It reinforces negative characteristics of women, showing them as weak, manipulative, susceptible to using seduction, etc. Why can't it be a teenaged boy, someone influenced by his game playing to look up bombs, weapons, etc. Perhaps after his searching over the course of a week, a government agent shows up at his parents' house?

[2018-10-11 21:19] aschrijver commented on #21
Well-produced indeed, @patmatsu Let me add the video link to Hyper Reality by Keiichi Matsuda:

http://hyper-reality.co/

I have an idea (sort of) of making a video that contrasts this dystopic version of the future, and shows a future reality where humane tech prevails.

[2018-10-11 21:29] aschrijver commented on #21
Very important to mention is the work by [Steve Cutts](http://www.stevecutts.com/animation.html). Brilliant animated video's on humane tech topics.

His YouTube channel is here (but only few of his video's): https://www.youtube.com/user/steviecutts
There are more to be found using search, but I don't know if they constitute license breaches (YouTube is strange in that respect). But this is a great

[2018-10-11 22:20] patmatsu commented on #15
Just saw my friend Noah, and our conversation went well. He is going to put me in touch with Grace, his friend in California. I am going to describe our project to her and see if she wants to bid on it. I will ask her to break down her fee so that we can see what is involved and how much each step costs.

[2018-10-11 22:30] aschrijver commented on #21
Something that is could be easily crowd-sourced:

YouTube 3.5 million views: ["How is your phone changing you?"](https://www.youtube.com/watch?v=W6CBb3yX9Zs)

[2018-10-11 22:31] patmatsu commented on #21
Thank you. I like the Hyper Reality video a lot.

[2018-10-11 22:54] georgeshk commented on #18
Warning regarding posting copies of proposals on the forum: I am not in favor of having two copies of the same document in different places. Not only it adds overhead (which we could do without), but importantly it would incite many members to start commenting on the forum in addition to comments on Github. We need to encourage everyone interested in these projects to come to Github instead.

I'd

[2018-10-11 22:57] georgeshk commented on #15
Just to confirm, which "project" are you referring to? Is it the whole Reality Shock campaign, or the first video, i.e. "a coffee place"?

[2018-10-11 23:03] aschrijver commented on #18
That is true. I won't maintain the copy on the forum. Instead it has a 'Latest version' link to github. A copy is required for people who are not part of the campaigners team. I want to keep discussions going on in the forum for 2 reasons:

1. To keep attracting new campaigners/members to the project
2. Because github should be focused on work, tasks, and doing things. All the general discussion w

[2018-10-11 23:04] georgeshk commented on #10
I anticipated reactions such as yours, especially from the ladies out there, and as I said, I felt embarassed. It was just an attempt at illustrating a progressive, increasingly embarassing search for related topics.

I like the idea of it to be shocking, and the kinky stuff is, I am afraid, the best example.

After reading your post, with which I fully agree, I propose to turn things around while

[2018-10-11 23:11] georgeshk commented on #18
@aschrijver, I understand you feel the need to attract as much attention as possible, hence opening up multiple avenues.

But it will be an incredible mess (think of the cross-coordination that would involve) if there were to be two avenues for comments and discussions on the same topics/deliverables.

Sorry, but I have to strongly disagree here. Let us keep all detailed discussions on Github.

[2018-10-11 23:18] aschrijver commented on #18
I am just saying it is a one-time copy. And one-time creation of a topic per proposal. There is no cross-synchronisation afterwards. These forum topics may be a mess, and they will. A mess you do not want here.

Or are you saying you just want the one Call for Participation topic and nothing more? That will be even messier there, and the forum will forget about this project.

[2018-10-11 23:31] patmatsu commented on #10
@georgeshk, you are kind to take my thoughts into consideration. I apologize for expressing myself so strongly.

If you were following the confirmation of Justice Brett Kavanaugh, you may know that one of the phrases that came up during his second hearing was "Devil's Triangle." He prevaricated (yes, I'm deliberately using that word instead of the more common one) because he didn't want to be caug

[2018-10-11 23:43] georgeshk commented on #10
Not at all. To be honest, I had concerns too, and your feedback confirmed these doubts.

Sadly, women are often stereotyped in many ways (which my first attempt did, although as I said, she was a fictitious character). I guess I thought it would have been more dramatic (more embarassing) as  it may be harder for a woman to publicly discuss such issues than a man (men regularly make lewd jokes abou

[2018-10-11 23:51] patmatsu commented on #10
Your points are well made and well taken. Thank you. I look forward to whatever you come up with.

[2018-10-12 00:31] patmatsu commented on #15
Sorry to not be clear. I will write her about whichever project we--or you--want her to consider first.

[2018-10-12 00:43] georgeshk commented on #15
Let me know if you agree with this approach: your discussions with her would give us a glimpse into what to expect from video studios (first reactions, expectations, budget ballparks, etc). Hence it is ok to discuss a variety of projects at once, or choose one as an example (maybe more practical).

You can refer to the draft RFP. Say you were to write her an email, you could attach the RFP (hmmm..

[2018-10-12 00:44] georgeshk commented on #15
As you probably saw, the RFP forms part of a separate issue.

[2018-10-12 01:39] georgeshk commented on #8
Ok, I came up with two proposals for the title:

- "Espresso shot"
- "Caffeine injection" (my preference, better at evoking a benign "drug" we inject ourselves with to stay awake)

@aschrijver, @patmatsu, @micheleminno: your preferred option?

[2018-10-12 02:14] georgeshk commented on #19
Love it - for all who are interested, @aschrijver and I had a long exchange on the particular expression "Phone Zombies", but the discussion applies to any other new word or expression we would try to add to culture. See: [discussion on forum](https://community.humanetech.com/t/phone-zombies-campaign-anchoring-the-term-phone-zombies-in-common-language/2710/22 )

To summarize, I was proposing the f

[2018-10-12 02:33] georgeshk commented on #10
Hi @patmatsu

I changed the general script in the very first post (at the top) of this thread/issue. I hope you like it better than the first. I am personally much more comfortable, it was great to have your views.

Soon I will make another attempt at exactly what topics exactly this middle-aged man will look for on Search.

[2018-10-12 03:04] georgeshk commented on #10
Ok, here we go, this time I did not always add actual results from Google, as I already have an idea of continuity, instead I add a description of what the search results do look like or would look like (in brackets), leading him from one topic to the next.

- "Career promotion tips" (innocent links on how to advance your career)
- "Boss is a prick" (links on how to deal with a difficult boss)
- "

[2018-10-12 04:45] georgeshk commented on #11
@micheleminno

I guess you made changes to the script on top of this issue, but not sure which (I was thinking you could explain key changes in a post).

One comment on the script: maybe considering cutting the number of eras that are visited, lest it becomes too repetitive (also may be an issue that each scene would be too short).

Would be great if you could add to your script with music/songs p

[2018-10-12 04:53] patmatsu commented on #15
OK, I agree and will do as you suggest. Thank you :-)

[2018-10-12 04:55] georgeshk commented on #19
Treat this one as an example. I like it, and believe it has viral potential, BUT, and very importantly, Google is not an "enemy" we should attack (plus, I like the idea of sleeping peacefully at night.. ). So, if you also like the concept, let us think of some way we can remove Google from the equation.

[2018-10-12 04:58] georgeshk commented on #15
Also, I have not changed the original draft after @aschrijver commented on the partnership aspect. Kindly change the word "publicity" to "special credits". Thanks!

[2018-10-12 05:08] patmatsu commented on #15
Thank you for the reminder. Will do!

[2018-10-12 07:10] micheleminno commented on #8
Maybe it's useful to have a title that reminds also the data extracted from the people activity on their phone:
* "Coffe for data"?

[2018-10-12 07:20] micheleminno commented on #11
I'm adding the key changes in the last part of the issue

Let's see when all decades have a story and music, maybe they are too many but it could be useful and enjoyable (if each one is very characteristic and different from other ones), mainly for youngers who didn't experience anything of them.

Yes I'm working on it.

Good idea, I'll add it in the '80 decade.

According to me it's better to kee

[2018-10-12 07:34] georgeshk commented on #11
Hi @micheleminno

Good point. Maybe he sells the bar? Problem with old bartender is it would be unclear if he retires of old age or for other reasons (which he would need to explain in the voice-over). Anyway, not a highly critical point, just believe it is stronger if he is the owner (a bartender employee working all his life in the same bar for someone is unlikely).

[2018-10-12 07:38] micheleminno commented on #11
Sure, he's the owner and he sells the bar. The reason of his choice is clear by his sad face and what he says (I'm changing that a little bit to make clear it's not because of his old age).

[2018-10-12 07:38] georgeshk commented on #11
Good point again. Once all scenes are proposed, we can all discuss which ones are not so rich/interesting, if any, and skip.

Re. the technologies he adopts in each era, not a problem if we cannot think of one per era (that could prove difficult). As long as a few key ones appear (as you suggested, arcade games, karaoke, etc), that would work.

[2018-10-12 19:18] healthyswimmer commented on #19
This one hold true at “school pickup” a time normally used to commiserate and socialize with families while waiting for your kid to get out of school.  A community buster!!

It’s called..

Phubbing

https://en.m.wikipedia.org/wiki/Phubbing

[2018-10-13 00:32] patmatsu commented on #10
See attached for another possibility.

![screen shot 2018-10-12 at 2 31 44 pm](https://user-images.githubusercontent.com/43923185/46899160-a875ad00-ce2b-11e8-966a-ee3776d7dad9.png)

[2018-10-13 00:50] ghost opened #22 "Urban Dictionary (theme: Speak Easy) - Campaign"
# [Campaign name here] Urban Dictionary

## Info

- Name: **Urban Dictionary**
- Theme: [Speak Easy](https://github.com/humanetech-community/humanetech-community-awareness/issues/19)
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

The Speak Easy initiative calls for introducing new terms and expressions to the common language. Since we will probably not be able to dedi

[2018-10-13 00:55] georgeshk commented on #19
This issue is dedicated to discussing the theme proposal. Sorry as I started a discussion on expressions ideas.

Let us add all new, proposed terms and definitions to the ["Urban Dictionary" campaign](#22 ), which I just created for this specific purpose.

I have added that one to the thread.

[2018-10-13 00:57] georgeshk commented on #22
Discussions on new words and expressions should come here. So far, we have three:

- Phone zombie
- Google slut
- Phubbing (https://en.m.wikipedia.org/wiki/Phubbing)

[2018-10-13 01:07] georgeshk commented on #10
Thanks for sharing. Quite distinctive concept, which could make for a different story/video.

[2018-10-13 01:54] georgeshk commented on #10
I take this opportunity for a gentle reminder for all of us here: when discussing a concept or deliverable, we should try to stay on topic (otherwise, the preferred route is to create a new issue and provide all details there).

Also, in the particular example of deliverables, we should also try to help improve what is proposed, either by elaborations or improvements, without (unless it is justifi

[2018-10-13 02:41] patmatsu commented on #22
Don't you mean "correct bad tech habits"?

[2018-10-13 02:43] georgeshk commented on #22
Yes indeed. Thanks

[2018-10-13 04:53] georgeshk opened #23 "Position statement: References, and approach, to actual tech companies"
# Proposed position statement on references and approach to tech companies

## Introduction/background

In the course of producing campaigns and deliverables, our team may from time to time need to refer to actual (i.e. not fictitious) tech companies, i.e. the like of Google, Apple, Facebook, etc by name.

One of the key objectives of the whole awareness initiative and our work here is to alert pe

[2018-10-13 04:59] georgeshk commented on #19
I drafted a [position statement](#23 ) on the issue of references and approach to actual tech companies.

[2018-10-13 06:49] patmatsu commented on #10
Yes, I should have explained why I was attaching that. I will delete.

[2018-10-13 07:55] aschrijver commented on #22
While your proposal could very well be used, I want to make the case for a common strategy at the Theme level, followed by individual Campaigns per language term / meme. Let me explain.

This theme is primarily about language & memes, and ensuring that each new term / meme is adopted. Which means that each campaign is long-running and requires separate monitoring and steering, and variations of st

[2018-10-13 08:01] healthyswimmer commented on #19
Nomophobia- fear of being away from cell phone.

https://en.m.wikipedia.org/wiki/Nomophobia

[2018-10-13 08:09] healthyswimmer commented on #19
@georges “it is always important, in my view, to be careful when we are at risk of insinuating such and such tech company is bad to the core”

I totally agree here- I think google is a term we use even if we use other search engines.... like using the term bandaid- we’ll... I’ve been corrected in my documentation in medicine that this is actually an adhesive bandage because bandaid is a brand name

[2018-10-13 08:35] georgeshk commented on #19
Fixed the link. Sorry about that.

[2018-10-13 08:42] georgeshk commented on #19
I went ahead and launched a "campaign" offering to include all terms (after agreeing on each) in a dictionary. It would not be a distracting project (from having full blown campaigns on the most promising expressions such as Phone Zombies), but rather a way to recycle the many other suggestions that are not picked for full blown campaigns, into a dictionary that would be equally useful.

@aschrijv

[2018-10-13 09:40] aschrijver commented on #19
@georgeshk did you see my comment to #22 ? Ah, I see what you mean by 'Dictionary'. Couldn't the Theme level not constitute the dictionary, where cross-term coordination takes place? We can make a child campaign for this of course, but I am not sure if it simplifies, rather than complicates the project structure.

[2018-10-13 09:42] georgeshk commented on #22
@aschriver:

I read your comment above a few times, I feel I understand what you mean (i.e. one campaign dedicated to each selected expression, all under Speak Easy, which includes a number of possible deliverables).

The idea suggested in this issue is to recycle all the proposed expressions that do not make it to dedicated campaigns into a "urban dictionary" dedicated to negative tech aspects. M

[2018-10-13 09:44] aschrijver commented on #22
Maybe the Urban Dictionary is maintained in the `/strategy` section of the project, and indeed not a campaign?

[2018-10-13 09:46] aschrijver commented on #22
The Urban Dictionary could also be published on a website section (e.g. `urbandictionary.humanetech.community` and be a continuous reference for the community, but also the wider public). In that case it has a concrete Campaign ongoing, where the website is promoted.

[2018-10-13 10:06] georgeshk commented on #22
My thinking exactly. First we would populate with definitions as per the sample format above, then promote it. I will clarify the idea in the original description.

[2018-10-13 10:10] georgeshk commented on #19
Ok, let us do that, easier in that case (I originally thought you would not have wanted to brainstorm all terms under the Theme issue). Sorry for the confusion.

[2018-10-13 10:11] aschrijver commented on #22
Agreed. This also means we'll move all the definitions from the other campaigns to record them in one central, public place. Great! The deliverable of Urban Dictionary is a website (or subdomain section thereof).

[2018-10-13 10:14] georgeshk commented on #22
Just revised my post on the Theme issue. Discussions in this Campaign issue would be limited to logistics on how to build and advertise the dictionary. Sorry for the mess

[2018-10-13 10:33] aschrijver commented on #22
No problem at all. This issue proposal now needs a slight overhaul to reflect the new insights.

[2018-10-13 11:38] micheleminno commented on #8
“Smartphone is the new cigarette”?

[2018-10-13 18:04] patmatsu commented on #22
You two know about this crowdsourced project?

https://www.urbandictionary.com/

[2018-10-14 00:11] healthyswimmer commented on #19
@georges I agree slut may not be a good term to use- this would distract the point with all the sensitive sexual harassment claims going around.  Great work!!

[2018-10-14 00:45] georgeshk commented on #19
Yeah... Let us drop that one. Too bad, it had strong potential I believe. Tried to but cannot find a catchy way to succinctly convey all the meaning that was in there. Maybe I'll take that one to a third party urban dictionary.

[2018-10-14 01:00] georgeshk commented on #19
"To do it for the Gram" should be in there. It refers to how vanity and the desire to get attention inspire people to do things or live experiences only so they can share them on social media.

[2018-10-14 01:06] georgeshk commented on #19
In the same vein, we could also come up with an expression to refer to people who cannot have a meal without taking and sharing pictures of every dish they are served. Maybe "food spamming"?

[2018-10-14 01:17] georgeshk commented on #8
Mmm... Only a minority of people smokes, while the vast majority of the population uses smartphones. Most of us drink coffee. We also know coffee is a benign "fix", while cigarettes kill (smartphone users wont accept being likened to smokers, whom most of them condemn).

[2018-10-14 03:28] georgeshk commented on #8
We could also add a line after the reference to Mr. Kurzweil, as follows:

"Many of the world's most powerful companies are already actively pursuing this agenda."

[2018-10-14 04:48] georgeshk commented on #8
More and more I believe the title of the video should be "Mankind 2.0" (same as the theme). It powerfully expresses what this is about and makes reference to humanity as a mere piece of software that allegedly needs an update.

[2018-10-14 05:31] healthyswimmer commented on #19
@ Georges Did you see my posts of nomophobia and digital pouting?

[2018-10-14 05:38] georgeshk commented on #19
@healthyswimmer

Yes, saw them. Good stuff, which could be in any way added to the proposed dictionary. Sorry if I cannot always find time to comment on every post - though I try.

One note for all here suggesting expressions: if you believe one of them would justify a dedicated campaign (memes, etc), please explain why/suggest few ideas in a few lines.

[2018-10-14 06:12] georgeshk commented on #8
"And he causeth all, both small and great, rich and poor, free and bond, to receive a mark in their right hand, or in their foreheads:

And that no man might buy or sell, save he that had the mark, or the name of the beast, or the number of his name."

Revelations 13:16-17

It is not unusual for post movie text to show quotations from religious texts.

[2018-10-14 07:04] micheleminno commented on #8
Is it no too Matrix-oriented?

[2018-10-14 07:07] micheleminno commented on #8
Citations from one religion may push away viewers of other religions..

[2018-10-14 07:30] micheleminno commented on #8
In Matrix there are a lot of humans, but they don't have what makes us truly human because they are merged with the machines, serving as energy source for them and their software. Only a few humans, those ones living in Zion, can be considered truly human.

[2018-10-14 07:35] georgeshk commented on #8
Ok. Still, we are not suggesting here that we are concerned we will be turned into energy source for machines. We don't know exactly what "Mankind 2.0" will look like. But our concern is that in the process of turning into man-machines, we will have to shed much of our true humanity.

Anyway, even if parallels can be drawn to Matrix, it was a good movie. The video we produce does not offer an apoc

[2018-10-14 08:27] micheleminno commented on #8
Yes, you are right, people from other religions may feel anyway the religiosity of a text from another religion. But it could push away people with no religion at all.
Do as you feel, include it if in your idea it fits with the rest of the message..

[2018-10-14 11:27] aschrijver opened #24 "Aware Prepare: Growth hacking the Awareness Campaigns project"
# "Aware Prepare" Campaign

## Info

- Name: **Aware Prepare**
- Theme: [Dogfooding](themes/dogfooding/README.md)
- General discussion: [This forum topic](https://community.humanetech.com/t/aware-prepare-growth-hacking-the-awareness-campaigns-project/2839)

## Summary

Crowdsourcing means, finding a crowd of contributors. This campaign is about growth hacking the public to find as much people will

[2018-10-14 16:44] patmatsu commented on #24
A couple of thoughts, @aschrijver:

1. People on CHT's Facebook page would be interested in helping to grow campaigns, I'm sure, but who among us is on FB?
2. MeWe is also a possible place to interest/recruit people. Should I/we create a MeWe page for HTC?

[2018-10-14 17:29] aschrijver commented on #24
Yes, both are part of this project and can be used in strategy to attract people to it. But contributing ideas comes secondary to being able to deliver, to execute campaigns, therefore the _Prepare_ in the name.

Anyone may contribute ideas, any CHT meber, but also non-members (like any Github users).
And both CHT's FB group and MeWe are channels we can target, include in the campaign strategy.

[2018-10-14 19:15] patmatsu commented on #15
@georgeshk and @aschrijver, please take a look at this draft. You'll see it's in two parts: one describing the overall campaign, and one describing the "Coffee Place" project. I had several questions, which I tried to answer by supplying placeholder
[Reality Shock Campaign.docx](https://github.com/humanetech-community/humanetech-community-awareness/files/2476765/Reality.Shock.Campaign.docx)
 text.

[2018-10-14 19:16] patmatsu commented on #15
@georgeshk and @aschrijver, please take a look at this draft. You'll see it's in two parts: one describing the overall campaign, and one describing the "Coffee Place" project. I had several questions, which I tried to answer by supplying placeholder text. You'll see this as soon as you start reading. We need to agree on phrasing, content, etc.

[Reality Shock Campaign.docx](https://github.com/huma

[2018-10-14 21:34] aschrijver opened #25 "Phone Zombies: Absorbed by phone in social settings and in public"
# "Phone Zombies" Campaign

## Info

- Name: **Phone Zombies**
- Theme: [Speak Easy](themes/speak-easy/README.md)
- Status: Ideation
- Original idea: @aschrijver
- Coordinator: TBD
- General discussion: [This forum topic](https://community.humanetech.com/t/phone-zombies-campaign-anchoring-the-term-phone-zombies-in-common-language/2710)

## Summary

This campaign focuses on "Phone Zombies", people

[2018-10-15 00:07] georgeshk commented on #15
@patmatsu

Not sure if I am seeing the entire document (viewing it on my phone right now), but it seems you have taken out the cover letter, as well as a number of appendices. Not sure why. Sending a fully detailed and professional RFP would be better received.

[2018-10-15 00:39] georgeshk commented on #15
Did you see the original draft RFP? Here it is: https://github.com/humanetech-community/humanetech-community-awareness/issues/14

[2018-10-15 00:54] georgeshk commented on #25
The whole concept and objectives are well described, and great to already have some proposals of concrete deliverables.

I propose to exchange and brainstorm on possible deliverables here in this thread until some of them reach a sufficient level of development / support, at which point detailed discussions on the execution can move to a different issue.

[2018-10-15 01:02] georgeshk commented on #24
I would like to make what I believe is a very important point.

Reaching out to potential contributors in a non discriminative manner (such as on various social media platforms) greatly elevates the risk we inadvertently invite trolls and disruptive participants. This is a real concern, even if one sees it as a remote possibility (to me, the possibility is quite real). If this happens, we could tu

[2018-10-15 01:10] georgeshk commented on #14
Here it is in Word format:
[RFP to videographers.docx](https://github.com/humanetech-community/humanetech-community-awareness/files/2477083/RFP.to.videographers.docx)

[2018-10-15 01:13] georgeshk commented on #15
@patmatsu

For your convenience, I converted the RFP to Word format. See the [file here ](#14 )

[2018-10-15 03:42] patmatsu commented on #14
Thanks, @georgeshk. This is much better.

[2018-10-15 03:44] patmatsu commented on #15
It is hard for me to follow all that is happening here and to remember the structure. What you produced is much better. Would you be averse to my sharing it with the faculty member of the Academy of Creative Media whom I know?

[2018-10-15 04:01] georgeshk commented on #14
@patmatsu

Glad you like it!

[2018-10-15 04:05] georgeshk commented on #15
Thanks for this feedback. I will update the first post here to refer to the draft RFP, which may help other members as well.

Personally, not at all. It is not confidential, and thanks to your initiative, we may get very useful feedback so we can improve our approach to videographers.

[2018-10-15 05:17] georgeshk commented on #25
Just getting the ball rolling...
![slide1](https://user-images.githubusercontent.com/43905276/46931176-a2c2d600-d07c-11e8-820a-5eecf59401b5.gif)

[2018-10-15 06:59] aschrijver commented on #24
Yes, this a good point, and something to consider in the (campaign) strategy.

We should not wildly fire off 'Join Us' requests full-spectrum. Instead each channel requires different approaches.

And we should start small, targeted, and only fan out when we can handle the response.

I am quite sure that a 'Show HN' submit on Hacker News will be a high-value promotion.

On LinkedIn it is best to st

[2018-10-15 07:11] aschrijver commented on #25
There is one big point of concern, regarding your example (unless you didn't add the text yourself, but you _have_ to mention image source still):

- People may not want to have their face associated with the meme (I would not)!
- We need permission before we combine

I used pictures from Ritzo ten Cate's "Lost in the App" series, who are perfect candidates. But here I even regret the association

[2018-10-15 07:12] georgeshk commented on #24
I don't know about Facebook (never used the bloody thing), but Reddit? Forget it. I tried it a few times, the vast majority of people there are psychos.

[2018-10-15 07:15] georgeshk commented on #24
I certainly hope so. But it could quickly becomes very distracting to spend time analyzing whether such and such person is disturbing. It may be innocuous at first, then, when we realize it, damage is done. Counter-productive discussions leading to quality people abandoning the project.

[2018-10-15 08:16] aschrijver opened #28 "Computer Says No: Little Britain's famous meme, but with a Humane Tech twist"
# "Computer Says No" Campaign

## Info

- Name: **Computer Says No**
- Theme: [Speak Easy](themes/speak-easy/README.md)
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

The hilarious series Little Britain introduced the term "Computer says No!" and this campaign will use that term in associations to all the Harms of Technology relevant to Humane Tech.

## Goals

- Use t

[2018-10-15 08:31] aschrijver commented on #17
(This comment was copied from https://github.com/humanetech-community/humanetech-community-awareness/issues/25#issuecomment-429732668 and then adapted)

There is one big point of concern, regarding your using images and modifying them, and this is portrait rights and permissions:

- People may not want to have their face associated with the memes we create (I would not)!
- We need permission befor

[2018-10-15 08:37] aschrijver commented on #17
On [Google Images](https://images.google.com) you can do 'Licensed searches' to find stuff you are allowed to use and modify. If it is not labeled 'noncommercial' then you'll still need to check how it is licensed (e.g. must buy permission on stock photo's), and also Google can make mistakes, so always need to check.

Here is an example of the Google UI:

![humanetech-google-images-licensed-search

[2018-10-15 08:41] aschrijver commented on #24
That is what we have moderators for. Currently we have 2 active ones, including me. But we have 10 slots. I already sent 2 enquiries to inactive mods. They lose their privilege if I do not get reaction soon.
If need be, let's continue this on the forum.

[2018-10-15 08:43] georgeshk commented on #17
I would tend to think we have rights to use and modify images in any way we want, once we purchased rights to them. I may be wrong, and I guess we would have to check what the rights entail whenever we purchase one.

@aschrijver, if you already know of some existing legal practice that applies here, I would be happy to read - and abide.

[2018-10-15 09:28] georgeshk commented on #28
Good concept, a funny one that is definitely catchy and entertaining.

One point however, it does not really cause people to change anything in their habits, let alone, move them towards our cause. Raise awareness, yes it does, but it seems it just makes it funny to think of what we've become. Not so much inciting a strong reaction and blowback.

[2018-10-15 11:11] aschrijver commented on #28
Changing habits is not among the goals of the campaign, but yes it is about raising awareness.

But I also see ways to change habits. E.g. I imagine on meme, an animated GIF, to go like this:

- Depicts a women holding a book tightly to her chest. Its title is "My Life"
- The text above is "I'd rather not share that with you.."
- In next frame a big red cross covers the image of the woman
- Then i

[2018-10-15 11:18] aschrijver commented on #24
We have that filter because we promote the forum, not Github. That comes later, when they are member and campaigner. Als trolling is hardly an issue on Github, I have _never_ had an issue myself and only know of 2 projects where there were issues (one the Post-Meritocracy repo and the other a super large Microsoft project). As long as things stay a-political, not-too-controversial, things should b

[2018-10-15 11:43] aschrijver commented on #28
Part of the Goals now, thx!

[2018-10-15 12:09] aschrijver commented on #17
This is comparable to what large open-source projects do. They have a license verification process built in. If you have a NodeJs project, for instance, your project will draw in 100's or even 1000's of 3rd party modules. Most will be MIT licensed, but some will lack license or licensed differenttly. This may mean the module may not be used, and is forbidden to be included.

Then on large organiza

[2018-10-16 01:00] georgeshk commented on #17
Did some research into the use of copyrighted images to create memes. Please see https://thelawtog.com/memes-violate-copyright-law/

The gist of it (unless I read it wrongly) is that:

- A meme is an example of derivative work, which normally only the copyright owner can produce
- However, a valid defense is "fair use". The article referenced here mentions four aspects that a court would consider

[2018-10-16 01:04] georgeshk commented on #25
That one is good too (same copyright owner, can buy license)

https://previews.123rf.com/images/ostill/ostill1210/ostill121000137/15641165-caucasian-man-unshaven-looking-at-cellphone-amazed-portrait-isolated-studio-on-black-background.jpg

[2018-10-16 01:55] georgeshk commented on #8
Hi @aschrijver @micheleminno , I updated the script in the top post here. It is now very detailed and quite mature.

I would like to ask for a little bit of help from all of you who are based in Europe (given the concept of the video here). Not much. If you could just do a little bit of research and identify, maybe 5 promising "film production companies" (that is the term I found is the best way t

[2018-10-16 01:59] georgeshk commented on #7
Just created a pull request so that we can update the README file and close this issue.

[2018-10-16 02:04] georgeshk commented on #12
Please see pull request so that we can close this issue.

[2018-10-16 02:11] georgeshk commented on #11
Hi @micheleminno

Was checking on this project and realized you have done a lot to elaborate on the script. Remember to let others know when you do this so we can tune in (we don't get alerts when you edit a post, only if you post a new comment).

It is great, now quite detailed. Any comment on the script, anyone?

As suggested before, take some time to think about and propose your strategy for ma

[2018-10-16 02:17] patmatsu commented on #14
A few questions:

- Should we include a request for a schedule or timeline?

- Is it reasonable to assume that the "rough budget" includes the fees of actors, extras? We don't say who will be paying for their time, and this point may be ambiguous.

[2018-10-16 02:51] georgeshk commented on #15
Hi @patmatsu

Any update to offer on your approaches to visual arts academies and this one specific production studio?

[2018-10-16 03:48] georgeshk commented on #9
Guys, may I ask your views on this important topic. Unless we want to give up on a very powerful video campaign, we will likely need to work on this.

@borja (his handle on CHT forum) has promised he will soon share his unique experience trying to crowdfund his video project (which involves quite a bit of traveling costs). Until then, please let us all do our own bit of research, i.e. what crowdfu

[2018-10-16 05:03] patmatsu commented on #15
Nothing to report yet. Apologies.

[2018-10-16 05:10] georgeshk commented on #15
No need for apologies! We should be patient, these things take time.

[2018-10-16 05:18] georgeshk commented on #11
@micheleminno

Was just thinking. Instead of the bar owner talking to himself about why he is sad, we could have a more natural way to deal with this. Let us say we have a scene near the end where he discusses the sale of his bar the new owner. The new potential owner would ask "I love this place, and would be happy to make you a very good offer. But I am curious. The place is doing fine, why woul

[2018-10-16 08:37] micheleminno commented on #11
My idea was that the old man speaks to an invisible person who is interviewing him (like in a documentary or mockumentary), so his speaking is actually answers to this interviewer, that we don't see.

[2018-10-16 08:39] georgeshk commented on #11
I am thinking about production issues. We would need to find different bars that look similar, but have a different vibe.

Much easier to shoot all scenes in the same bar (through all eras, the place looks the same, meaning nothing drastic has happened).

[2018-10-16 08:42] georgeshk commented on #11
Got it, but please give more thoughts to my suggestion. Somebody wants to buy the bar so would have a good reason to chat the bar owner. Why would the bar owner be interviewed?

[2018-10-16 08:49] micheleminno commented on #11
Because of his incredible memories from '50s to today, being a witness to all cultural, society, music changes through the years.

[2018-10-16 08:54] georgeshk commented on #11
Agreed, but a business dealing conversation would look more natural than an interview. He could say the exact same things.

Up to you to decide what's best.

[2018-10-16 09:06] micheleminno commented on #11
I prefer my version, so last scene with the new bartender at the phone has more impact. It gives a feeling of a documentary too, that can be underlined with proper choices about the film colors, video editing, etc.

[2018-10-16 09:11] georgeshk commented on #11
All of us are merely offering our opinions and suggestions. I feel that every concept originator - you, in this instance - should be the final judge of that input. We will support your vision.

[2018-10-16 09:12] micheleminno commented on #8
I don't like last part of the video, with sentences about guru's citations. I'd prefer some sentence about collected data, income for tech companies coming from the users data and so on. Some real glimpse about what it's the situation today. In that case also the 2nd music would be another one, better if no music at all.

[2018-10-16 09:13] micheleminno commented on #11
Sure, thank you for your suggestions, they make my idea sharper and bring me to analyse things I had overlooked.

[2018-10-16 09:18] georgeshk commented on #8
Disagree with this. Purposeful to have inspiring music in the post-video comments. And the proposed music theme is just fantastic and fit to promote cause worth fighting for.

[2018-10-16 09:20] georgeshk commented on #8
It is most powerful to quote prominent executives on where they see the future. This makes people take things into serious consideration. Just listing out general views on such topics is much less powerful.

[2018-10-16 09:27] micheleminno commented on #8
I don't know, what the guru says doesn't convince me, it doesn't seem very related to people on their phones giving away sociality, attention and their data to business companies.
But as always the final choice is yours.

[2018-10-16 10:14] aschrijver commented on #17
Cool! And 1st search with Google Images to check for non-commercial images requiring no license.

[2018-10-16 10:59] micheleminno commented on #10
Sorry bu I don’t agree with the message of this video. What’s the suggested behavior here? To wash our own dirty laundry at home? Is it the real problem a potential data breach? I think the issue is a centralized supercomputer getting accurate profiles of billion people out of their search queries, and keeping them active and each day more accurate for its own purposes. Even in a perfect world wit

[2018-10-16 11:11] #12 closed

[2018-10-16 11:22] aschrijver opened #31 "Create project structure for General Resources"
Some external resources that are referenced in the various proposal issues, may not be appropriate there, but are still relevant to Humane Tech campaigns in general, and are usable for future work.

An example of this is @patmatsu video suggestion in https://github.com/humanetech-community/humanetech-community-awareness/issues/7#issuecomment-427710905 by Max Stossel of the CHT.

So these do not ge

[2018-10-16 11:32] aschrijver opened #32 "Detail default documentation format and how deal with binary files"
(This issue is based on a copy of [discussion](https://github.com/humanetech-community/humanetech-community-awareness/pull/27#issuecomment-429799016) with @georgeshk in #27)

For binary files we should have a way to know which version of the Markdown document they relate to, and indicate the version in the filename.

The standard documentation format is markdown, because it is common text-only doc

[2018-10-16 11:46] georgeshk commented on #10
Hello @micheleminno

Thanks for your input. The basic objective here is to alert users on the dangers of trusting apps with your most private details. In this story, we follow someone who, after trusting a search engine, is victim of a masive data breach. The morale is 'whatever you input online, the whole world could know about it."

The actual breach at the conclusion exposes this: "dont trust a

[2018-10-16 11:49] georgeshk commented on #10
I sympathize with this, but it is not the theme here. Here we are focusing on what happens when your private queries become public.

[2018-10-16 11:57] aschrijver commented on #16
Note: Referenced PR contains a comment that can be adopted for documenting Editing procedures.

[2018-10-16 12:01] aschrijver commented on #6
TODO: Add Status fields, and update existing documents.

[2018-10-16 16:43] Dori-CHT commented on #8
Very nice! The Coffee Place is a great idea. Regarding other computer scripts (for the superimposed window):  A couple is sitting at separate tables unaware of each other. They're  looking at the same dating app which connects them based on common interests/activities (hiking, skiing, etc. ). One gets up to leave and sees their partner engrossed in the app (or they both look up at the same time).

[2018-10-16 18:47] patmatsu commented on #15
@georgeshk, I referred to this part of our conversation in a message to @aschrijver, and he had no knowledge of it. Can you please not resolve things like this until we are sure he has seen them? Many thanks.

[2018-10-16 20:50] #31 closed

[2018-10-16 21:00] aschrijver opened #33 "Add 'Status' field to Campaigns and Deliverables"
It should be clear what the status of a Campaign or Deliverable is. Each proposal is turned into a document, but at that time the status is still 'Ideation', i.e. there is no active campaign planing going on.

Initially statuses to have are related to stages in the the workflow process:

- Ideation
- Preparing
- Launched
- Finished

Following activities must be completed:

- [x] Update information

[2018-10-16 23:14] georgeshk commented on #15
@patmatsu

Not sure what you mean by "resolving things". I was merely asking if you had any update on your plans to approach a few people about this.

Also note that this is a community, where everyone is free to suggest ideas or actions. I was not forcing or directing you to do anything. Likewise, @aschrijver is very busy facilitating the projects of this community. While he is duly highly respec

[2018-10-16 23:34] patmatsu commented on #15
Sorry about this misunderstanding, @georgeshk. @aschrijver and I talked about it. I made an assumption that was wrong.

Will be more tactful and diplomatic in the future, I assure you.

[2018-10-17 08:14] aschrijver commented on #15
The resolving was my doing. My apologies! I forgot to mention it in my Campaigners group post. I was only trying to collapse the comments that were not relevant to newcomes (because handled, off-topic), so as not to scare people away. I'll get my hands off it, and first communicate more on project plans on the forum.

[2018-10-17 14:11] aschrijver commented on #11
This proposal has come to a very complete stage. Great work @micheleminno and @georgeshk !
If all the comments have been incorporated, this can be brought to a document at: `/campaigns/reality-shock/video/memories-of-a-bartender/README.md`

[2018-10-17 15:16] Dori-CHT commented on #11
I agree, great work!   I have a suggestion for another song for 1987:  Whitney Houston's "I Wanna Dance w/Somebody".  Maybe it's because I never liked Guns & Roses, but I think it could work to create a better impression of that era (BPZ - before phone zombies).  Yes, more dancing....

[2018-10-17 15:18] micheleminno commented on #11
Thank you @Dori-CHT! Guns 'n Roses serve to the fight scene in the bar, and to break with '70s scene, also dancing (Bee Gees)..

[2018-10-17 15:39] Dori-CHT commented on #11
Guns'n Roses does serve to mix it up - can't be a phone zombie in the middle of a bar brawl!  The music in general serves very well to remind people of the time before smartphones took over.

[2018-10-18 01:06] georgeshk commented on #8
@Dori-CHT

Thanks for the suggestion. It is an interesting idea, my issue with it is that it does not really fit with the whole script here. Dating apps help bring people together, here the scripts should give a more somber vibe, i.e. computer programs taking over our private lives and precious time. We also want to highlight the fact that computer programs are in effect seeking to entrench a deep

[2018-10-18 01:28] georgeshk commented on #10
I took some time to think long and hard about the message after the video. I feel the reference to the Ashley Madison breach is not ideal. That would lead viewers to think the whole point of the video is to warn those who are contemplating extramarital affairs to be careful online. And it would also makes most people unconcerned. Thanks @micheleminno for provoking this rethinking.

I would thus pr

[2018-10-18 05:05] patmatsu commented on #10
Do you want to add here that identities can be stolen or duplicated?

[2018-10-18 05:55] georgeshk commented on #10
Although these are valid concerns indeed, these issues are not directly related to the concept of this video.

[2018-10-18 07:40] micheleminno opened #35 "Storyboard fo "Memories of a bartender" video"
Draft a simple storyboard with associated exact song segments to give a better idea of how the final result would be.

[2018-10-18 07:48] micheleminno commented on #10
Good rethinking, it is much better now. Still I would not put emphasis on **personal effort** to protect ourself individually because of this precious personal profile that can be hacked. I would question about the right of these companies to collect and keep those profiles. I'd ask viewers: "Do you want that someone else has a detailed profile of you, a knowledge of you even more complete and dee

[2018-10-18 07:58] georgeshk commented on #10
That is the whole point. We are entirely too comfortable giving away private details against mostly free services. It is already implied in the text that it is revolting that tech companies document our personal lives in every detail. But the point is, nobody changes their behaviors knowing that. They just keep trusting tech companies. We need to highlight how unsafe it is to trust your private li

[2018-10-18 08:05] micheleminno commented on #10
This is the point where I don't agree. Through this kind of video we can raise sensibility and awareness, towards the ideal point tech companies will have to review their behaviour and policies. If nobody (consumers, citizens, governments, world organizations, ..) force them, they will keep doing what's the best for them, obviously. But this doesn't fit with the best for us.

[2018-10-18 08:08] micheleminno commented on #10
Imagine this scenario:
I want to search for a medicine effects, but wait: what if this information goes public? It's better not doing it. This will be a nightmare.

[2018-10-18 08:12] georgeshk commented on #10
That is a great example. So, you'd rather trust Google with your enquiries about your medicine (which they will remember and add to your profile that you probably have some embarassing medical condition), rather than discuss with your doctor/pharmacist, who are legally held responsible to keep your discussions strictly confidential?

You just demonstrated how the convenience of searching online is

[2018-10-18 08:14] micheleminno commented on #10
I want to have the possibility and the freedom to search the web for whatever embarrassing personal reason, without the fear of being classified and 'profilated' by anyone.

[2018-10-18 08:17] micheleminno commented on #10
In the specific scenario:
there are a thousand reasons to search for medical info, given also that I went to the doctor:
- experiences of other patiens
- chemical info about the medicine-
- comparison of generics and brand medicines
- ...

[2018-10-18 08:28] micheleminno commented on #10
This is what I mea when I say that we need a top-bottom guide, a CHT brand that clarify what's the message we want to give with these campaigns. we here a trying to build the brand (even if you are not enjoying this). There will be many other choices to do like this. These are political (in its bigger meaning of regulating social aspects if people) messages, even if we want to stay as agnostic as

[2018-10-18 08:40] georgeshk commented on #10
@micheleminno

Fully agree with your post on the forum about the brand.

What I don't enjoy is having protracted debates, when obviously we will not be able to reach a consensus, on each other's project. I always take all suggestions very seriously, but that doesn't mean I have to accept every one of those, and I will definitely not submit myself to a "vote". We need to respect each other's vision

[2018-10-18 08:45] micheleminno commented on #10
You made suggestion about the content of the video, not about the message. I'm not trying to impose my view, I'm just clarifying better the difference of alternative messages we can give. I think it's something we have to deal with if we want to grow as a community. And apart our one-to-one discussion, no one else seem to care or partecipate, which is the real problem.
After that, feel free to go

[2018-10-18 08:53] georgeshk commented on #10
No worries, let me try to rewrite the second part so that I could place equal emphasis on both aspects, i.e. changing tech companies' practices and staying safe in the meantime.

[2018-10-18 09:06] micheleminno commented on #10
I advance a proposal, not only for this video, but for all videos of 'reality shock' campaign:
What if we don't give any message at the end? I mean, with written words.
After all, it must be a reality shock.ì, the viewer is pushed by empathy to experience the situation we show in the video and that's all. He/she must think of some conclusion/message by him/herself.

[2018-10-18 09:11] micheleminno opened #36 "'Reality shock' video messages"
For all videos of 'reality shock' campaign.

What if we don't give any message at the end? I mean, with written words.
After all, it must be a reality shock, the viewer is pushed by empathy to experience the situation we show in the video and that's all. He/she must think of some conclusion/message by him/herself or is more interested in finding out more in our forum, site, etc.

[2018-10-18 09:15] georgeshk commented on #10
I am entirely against this proposal. The comments are the end highlight the video is not a mere fiction but also provide some background information for further thoughts, leading to mentioning the CHT.

And I don't like the idea of imposing rules that would apply to all videos in this campaign (I imagine this is another aspect of your suggestion to validate the CHT brand). Your video project doesn

[2018-10-18 09:32] georgeshk commented on #10
Ok, you know what? I am out of here. Was great, but I don't enjoy spending hours of hard, thoughtful work, being destroyed in a matter of seconds with some new revolutionary idea.

Michele, I trust you think very highly of yourself, and probably think I am some stupid guy sitting somewhere with no clue or an ounce of judgement.

After debating about the comments issue, I gave up and decided to red

[2018-10-18 09:36] micheleminno commented on #10
If you think like that, free of quitting, don't blame me. If a debating about what messages conveying to people or how to better shape our videos brings you to such conclusion, it's ok, but I don't have nothing to do with your choice.

[2018-10-18 09:38] aschrijver commented on #10
_Please_, I think you two have a basic misunderstanding. The thing that occurs when communicating in online comments only. Happens a lot of times in email correspondence too. Let's discuss this in a PM on the forum.

[2018-10-18 16:13] patmatsu opened #37 "Smartphones as poor resource"
# Smartphones as Poor Resource

## Info

- Name: **Smartphones as Poor Resource**
- General discussion: Smartphones

## Summary

This concept is based on information in Maryanne Wolf's book _Reader Come Home: The Reading Brain in a Digital World._ In households that do not have computers or tablets, the smartphone serves as the way children connect with the outside world. But it's a poor connectio

[2018-10-18 18:34] micheleminno commented on #11
I updated the readme in the moab (memories of a bartender) folder.

[2018-10-18 18:34] #11 closed

[2018-10-18 18:35] micheleminno commented on #11
Next time I’ll reference and close the issue directly by the commit.

[2018-10-18 18:50] aschrijver commented on #37
Hi @patmatsu You asked me to add deliverable-proposal label, but I think you actually meant Theme, and about communication issues (i.e. the  deterioration of communication skills), am I right?

I think, given that you mention children and education, it is very similar to Tech Wise, and this could fit very well in that theme. I mean 'wise with tech' also means having the awareness of how it affects

[2018-10-18 18:58] aschrijver opened #38 "Tracking roles and Attribution in campaigns and deliverables"
In order to give the proper Attribution when a deliverable is produced (e.g. in the credit role of a video), and to provide clarity on who is working on a particular Campaign and Deliverable, we should add some fields, like 'Original idea', 'Coordinator', etc. which appears in the `Info` section of the documents.

- [x] Add 'Coordinator' and 'Original idea' fields to `Info` section of Campaigns an

[2018-10-18 19:04] aschrijver commented on #36
I don't that see each of these video's has a message in the end. While it should not be a requirement if a video has a text message, or not. But if the imagery is strong enough to convey the message by itself, then it would be more powerful than showing it, I agree.

[2018-10-18 19:13] aschrijver commented on #9
The whole 'crowdfunding-by-community' issue indeed requires a lot of attention, and organization. That was one of the reasons I was holding back on moving too fast on it, and my reason to draft the roadmap with unofficial and official contributors (so, that if you want to move fast, you can as unofficial initiative).

My big preference is to go easy on this, take the time, and do first do 'practic

[2018-10-18 20:42] patmatsu commented on #37
Yes, that sounds like a good idea. I did briefly think about putting this under Tech Wise, but it has a economic aspect that I wanted to bring out: the ways in which the poor or deprived suffer inordinately as a result of our society's dependence on technology. The smartphone is the calorie-rich, nutrition-empty equivalent of candy and soda. It "feeds" children but doesn't nourish them.

[2018-10-18 20:44] patmatsu commented on #37
Do you think we could change "Tech Wise" to "Tech Rich and Tech Poor"? Would that distort the concept?

[2018-10-19 09:18] aschrijver commented on #37
It think Tech Wise covers both knowing when it enriches you or otherwise, so I prefer sticking with that.

[2018-10-19 12:04] aschrijver commented on #11
Note: If on your commit text you add the issue ID, then the commit is referenced in the issue e.g. `updated doc XYZ (#11)`

[2018-10-19 18:35] patmatsu commented on #38
Thanks for posting this. It relates to the RFP Georges wrote. When I met with a friend yesterday to discuss the RFP, he pointed out that there needs to be a personnel section--e.g., director, scriptwriter, crew, etc.--so that the various roles are differentiated.

[2018-10-19 19:03] aschrijver commented on #38
Yes. On the Deliverable there was already a `Team` field, but that should also be in campaign properly, independent of the above two fields in the `Info` section.

[2018-10-19 20:45] patmatsu commented on #14
Is it possible to take over this issue--or to create a duplicate that I can work on?

[2018-10-19 21:28] patmatsu commented on #14
Ok, thank you!

[2018-10-20 06:01] #20 closed

[2018-10-20 06:08] aschrijver opened #39 "Create strategy document for Aware Prepare dogfooding campaign"
The Aware Prepare campaign serves to promote this project, and extends to community building too, to attract more cooperators and boost forum and project activity.

The strategy document will first collect all kinds of activities to perform, like (as @patmatsu suggests [here](https://github.com/humanetech-community/humanetech-community-awareness/issues/24#issuecomment-429641718)) involve CHT Faceb

[2018-10-20 08:50] aschrijver commented on #24
Closing issue, continuing in [Aware Prepare](campaigns/aware-prepare/) campaign documents directly.

[2018-10-20 08:50] #24 closed

[2018-10-20 08:54] aschrijver commented on #38
I created a task list in the issue and assigned to myself.

[2018-10-20 10:15] aschrijver commented on #19
The Theme document has been updated. Closing this issue (You can still discuss changes here, in subsequent comments).

[2018-10-20 10:15] #19 closed

[2018-10-20 10:36] aschrijver commented on #25
I moved Phone Zombie stock photography to the forum, using the watermarked preview instead (marked comment containing image as Resolved).

[2018-10-20 10:41] aschrijver commented on #25
Updated the Campaign document, closing issue (But you can still add comments to discuss changes).

[2018-10-20 10:41] #25 closed

[2018-10-20 10:45] aschrijver commented on #14
I have assigned this to you, @patmatsu

I suggest checking the RFP document in `/stragegy` to see (i.e. [this document](https://github.com/humanetech-community/humanetech-community-awareness/blob/master/strategy/rfp-to-videographers.md) if everything in comments above is incorparated of the template, and then close this issue, and work on document improvements directly. You can then create Pull Re

[2018-10-20 10:59] aschrijver opened #40 "Create Strategy Guidelines documentation"
General strategy practices and approach should be documented in a Strategy Guidelines document in `/strategy/strategy-guidelines.md`.

This is a top-level issue with the tasks needed to create an initial version:

- [ ] Create document, with initial header structure and ToC
- [ ] Document approach, procedures and best-practices for crowdfunding (#9)
- [ ] Document approach to actual tech companies

[2018-10-20 13:13] healthyswimmer opened #41 "Tech Wise - Promoting prudent technology use in child education”"
# "Tech Wise" Campaign Theme

## Info

- Name: Appropriate use of technology in schools
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

Promoting prudent technology use in child education.

## Topics

- Displacement of developmental motor skills like handwriting.
- Learning issues with “dictation note taking” on laptops.  Studies show consolidating thoughts and handwri

[2018-10-20 13:43] aschrijver commented on #37
This issue is merged with the Tech Wise campaign theme here: https://github.com/humanetech-community/humanetech-community-awareness/issues/41

[2018-10-20 13:43] #37 closed

[2018-10-20 13:45] aschrijver commented on #41
Great. With help of @patmatsu the info of #37 can be merged in this theme :+1:

[2018-10-20 21:37] aschrijver commented on #33
All changes done. Closing.

[2018-10-20 21:37] #33 closed

[2018-10-20 21:48] aschrijver opened #42 "Tracking affiliation in campaigns and deliverables"
Both Campaigns and their Deliverables can have official support by the HTC and/or CHT, but it is also possible that they cover Humane Tech awareness activities that are not fully supported.

To distinguish between officially supported or not, both Campaigns and Deliverables will have a `Affiliation` field, that can be either `Official`, or `Unofficial`.

- [x] Update information model with Affilia

[2018-10-20 22:11] aschrijver commented on #42
All tasks done. Closing.

[2018-10-20 22:11] #42 closed

[2018-10-20 22:14] aschrijver commented on #38
Reported the changes to Campaigners group. All tasks done. Closing.

[2018-10-20 22:14] #38 closed

[2018-10-20 22:33] aschrijver commented on #41
Great start, @healthyswimmer ! Note: In the objectives you can best be short (1-2 lines), then elaborate in the description (particularly applies to 5th objective). Same with topics, i.e. could be:

- Motor skills, handwriting
- Learning issues
- Distractions, concentration

And describe shortly in Description section.

(PS I corrected a comment ending you accidentally deleted, and made Topics hea

[2018-10-20 22:36] aschrijver commented on #36
I suggest we try to have the image that strong that a text message is not required, but let's leave it to each Deliverable script to decide what is required, not as a rule on Campaign level. I suggest closing this issue, no action required.

[2018-10-20 22:38] aschrijver commented on #35
Cool. Can call it `storyboard.md` in deliverable subfolder, and add a Markdown link from the Deliverable document to the storyboard (level 3 header in Script section?)

[2018-10-20 22:41] aschrijver commented on #21
@patmatsu can you add the above links to the [Resources document(https://github.com/humanetech-community/humanetech-community-awareness/blob/master/resources/README.md) in separate bullet points?

If you can do that, then separate the bullets by an empty line, and create Markdown links i.e. `[title](url)` not raw URL's.

[2018-10-21 01:06] patmatsu commented on #32
Does GH not have virus-scanning abilities?

[2018-10-21 05:08] aschrijver commented on #32
I am not sure. Github (and git itself) is not really meant for binaries. There is a large files extension services though, that offers 1 GB of space for free. Maybe that scans.

[2018-10-21 06:44] aschrijver commented on #41
I was wondering if 'Tech Wise' (as a theme) should have campaigns both directed to the professional audience you lay out here - which I find really cool - as well as having campaigns where children are the audience, or both.

In that case detailing the audience is left to the Campaign level an a case-by-case basis. What do you think?

[2018-10-21 10:08] aschrijver commented on #21
Some brilliant sarcastic cartoons, related to smartphones, etc. (but I advise you to view the full collection) by Anton Gudim on [boredpanda.com](https://www.boredpanda.com/sarcastic-illustrations-comics-anton-gudim):

- https://www.boredpanda.com/sarcastic-illustrations-comics-anton-gudim/?media_id=1217425
- https://www.boredpanda.com/sarcastic-illustrations-comics-anton-gudim/?media_id=1217442
-

[2018-10-21 17:44] healthyswimmer commented on #22
“Road blocker” or “barricade” when blocking corridors or doorways staring at phone.

Not in urban dictionary but I just experienced this at a swim meet..  pardon my emotions here but annoying and rude.

[2018-10-22 10:12] aschrijver commented on #22
Good one! I have adde 'Road Blocker' to 'Speak Easy' theme document in the 'Candidates section.

[2018-10-23 02:29] healthyswimmer commented on #41
“Also, I wonder if the objectives listed above are methodologies, i.e., means to an end”

End of what?

Listed objectives are intended to educate the public about harms in Edtech.  We need to educate schools about harms- and make sure federal dollars are not being used to inadvertently harm kids development.

This is a civil rights issue for kids to develop freely without risk to their health- emo

[2018-10-25 19:18] aschrijver opened #44 "Aware Prepare: Forum announcements on roadmap and call to action"
See: [Aware Prepare Strategy](campaigns/aware-prepare/campaign-strategy.md#activity-planning)

Update the community on latest status, plans and ongoing projects.

- [x] Create a new Call for Action to attract Campaigners to the Awareness program ([replacing this](https://community.humanetech.com/t/call-for-action-join-the-humane-tech-awareness-program-from-awareness-to-cultural-awakening/2782))

-

[2018-10-25 19:25] aschrijver opened #45 "Aware Prepare: Community status update to 'Everyone'"
See: [Aware Prepare Strategy](campaigns/aware-prepare/campaign-strategy.md#activity-planning)

Prepare a message to be sent to all community members via `trust_level_0` system group (Everyone):

- Inform on community position statement
- Short roadmap / presentation of community plans
- Presenting Awareness Campaigns
- Call for action to become active again and participate in the project

[2018-10-25 19:29] aschrijver opened #46 "Aware Prepare: Prepare msg to CHT facebook group with Roadmap, Call to Action"
See: [Aware Prepare Strategy](campaigns/aware-prepare/campaign-strategy.md#activity-planning)

After forum is updated (see strategy and #44 ) post a message to the CHT facebook group with a summary of our roadmap and plans, and a call to action for our Awareness Campaigns program.

We can prepare the message together in the Campaigners group in a wiki post.

[2018-10-26 10:06] shivsarav commented on #21
I would like to share this deeply impactful documentary film by Werner Herzog, trailer here:
https://www.youtube.com/watch?v=Zc1tZ8JsZvg

The entire film here: https://www.dailymotion.com/video/x54p62l

[2018-10-28 08:58] micheleminno commented on #35
Storyboard file added (commit [here](https://github.com/humanetech-community/humanetech-community-awareness/commit/45ecf82ad3e64ca2df5d993bd9437cf02f4d823d)).

[2018-10-28 15:30] aschrijver opened #50 "Add .gitignore to project root"
Add a generic .gitignore (for now), that excludes hidden Mac files like `.DS_Store`.

[2018-10-29 03:46] georgesnew opened #51 "Lists of video production companies"
This issue is to create a list of selected video production companies, including website links, to whom we will send our RFPs.

Please contribute here in comments to suggest video production companies in your country (or other countries if you have time to do some research), paying close attention to how professional they look, what their capabilities are (e.g. securing locations, actors, extras,.

[2018-10-29 04:33] georgesnew commented on #8
Once we have the RFP finalized, I will start approaching [movie production companies](https://github.com/humanetech-community/humanetech-community-awareness/issues/51) to get quotes and proposals. This will give us a good idea.

[2018-10-29 09:54] aschrijver commented on #50
Super! Thanks @micheleminno

[2018-10-29 11:11] aschrijver commented on #51
Okay, good! I think - after collecting some more entries - we should add this in a separate `resources` document, and continue to extend as we go along.

[2018-10-29 11:15] aschrijver commented on #14
Closing. RFP document is in PR review: https://github.com/humanetech-community/humanetech-community-awareness/pull/43

[2018-10-29 11:15] #14 closed

[2018-10-29 11:26] aschrijver opened #53 "Creating a RFP template, example, issue type"
Follow-up to https://github.com/humanetech-community/humanetech-community-awareness/issues/14 and https://github.com/humanetech-community/humanetech-community-awareness/pull/43

This is a top-level issue. A couple of tasks need to be done to complete RFP template:

- [ ] After PR review is merged, rename [`rfp-to-videographers.md`](https://github.com/humanetech-community/humanetech-community-aware

[2018-10-29 11:29] aschrijver commented on #8
On that last point: We should be able to act on that as a community, which we cannot yet. Or this should be an 'unofficial' campaign deliverable (let's discuss on the forum, when the time is there).

[2018-11-03 07:46] patmatsu commented on #46
Can you provide me with the forum link please? It seems to have disappeared.

[2018-11-03 09:02] aschrijver commented on #46
Ah, it is this link @patmatsu : https://community.humanetech.com/t/preparing-announcement-to-the-cht-facebook-group/2908

[2018-11-03 09:03] aschrijver commented on #46
I did not get to preparing the text for the new pinned forum messages. I want to present some kind of community roadmap in that.

[2018-11-03 19:47] micheleminno commented on #17
About using copyright music in a video: https://tubularinsights.com/copyrighted-music-in-video/#101

[2018-11-04 13:05] aschrijver commented on #44
This is the new pinned Call for Help, but actually a presentation of what the HTC is up to: https://community.humanetech.com/t/who-we-are-what-we-do-and-how-you-can-help-humane-technology/2955

[2018-11-04 13:05] #44 closed

[2018-11-04 13:06] aschrijver commented on #45
Just sent the notification to 'Everyone' with the same message as in the pinned forum topic: https://community.humanetech.com/t/who-we-are-what-we-do-and-how-you-can-help-humane-technology/2955

[2018-11-04 13:06] #45 closed

[2018-11-04 13:14] aschrijver opened #58 "How to deal with music copyrights and costs?"
This is a sub-issue of https://github.com/humanetech-community/humanetech-community-awareness/issues/17

Before deciding what music to use in a video, we need to be able to listen to it, link to it, and share it around. Some investigation is required to find the options we have.

We should also try to get some info on the costs that are involved in using popular music, and how that adds up when a

[2018-11-04 13:14] aschrijver commented on #17
We need to find out how to deal with that. There should be methods to work with music before having attained the copyright. Maybe - just like with stock photography - there are 'watermarked' versions that e.g. have a recurring bleep in them, or are lower sound quality, or something.

I created a separate issue for that, here: https://github.com/humanetech-community/humanetech-community-awareness/i

[2018-11-04 14:15] micheleminno commented on #58
Youtube has this free to use and downloadable and audio library:

https://www.youtube.com/audiolibrary/music

[2018-11-04 14:39] micheleminno commented on #58
Maybe 'fair use' of copyrighted content (according to US law) is our best option, since our videos are noprofit, and songs segments are there to highlight the point and message we want to convey with the video. Here are the list of [best practices in fair use of music in videos](http://cmsimpact.org/code/code-best-practices-fair-use-online-video/).

[2018-11-05 08:06] aschrijver commented on #46
What URL did you put that on, Pat?

[2018-11-05 08:08] patmatsu commented on #46
https://community.humanetech.com/t/preparing-announcement-to-the-cht-facebook-group/2908/8

I edited the wiki post.

[2018-11-07 14:44] aschrijver commented on #58
Great resource, @micheleminno
Could you add it to the Resources document under its own paragraph title?

[2018-11-08 14:33] healthyswimmer opened #59 "Non scholars humane forum/chatter"
For less articulate individuals- people who talk in simple slang.  A “let go” humane tech sub community where people can run wild with their discovery of how technology may be negatively impacting their life.  Live and let live- almost a “stitch and bitch” zone- where people can dump feelings and frustrations about where technology has taken us in humanity.

[2018-11-08 14:39] healthyswimmer commented on #59
Perhaps different chat rooms for different people?  Different strokes for different folk type of forum- For example... I once went to a bar like this in San Francisco where there was a room for everyone.  One room had dancing- another tables and lots of chatter, another couches and lounging, another couches and ah-hem curtains for privacy....

A place where everyone can engage in the way they feel

[2018-11-09 10:34] aschrijver commented on #59
It is a good point to think about, @healthyswimmer

In addition I think a requirement for the community website would be _Accessibility_, i.e. providing a low barrier to entry for the entire audience that we are targeting, at least for all of the common sections of the site (e.g. the 'science' section would obviously be different in language use). Easy to understand, comprehensive writing styles.

[2018-11-11 13:03] #46 closed

[2018-11-11 13:03] aschrijver commented on #46
Done. Thanks @patmatsu !

[2018-11-11 13:08] aschrijver commented on #41
Hi @healthyswimmer

I feel that this Theme should be defined more broadly and generic, so that it can fit many different campaigns in the Kids + Education realm, both targeted at professionals and the broader public.

I suggest that the things you have documented, are moved to a Campaign (issue with Campaign template) instead. And then @patmatsu can define another Campaign for raising awareness to

[2018-11-11 13:11] #9 closed

[2018-11-12 10:29] micheleminno opened #60 "Don't count on me"
# "Don't Count On Me" Campaign

## Info

- Name: **Don't count on me**
- Theme: [Resocialized media](https://github.com/humanetech-community/humanetech-community-awareness/issues/61)
- Status: Ideation
- Affiliation: Unofficial
- Original idea: [micheleminno](https://community.humanetech.com/u/micheleminno/summary)
- Coordinator: TBD
- General discussion: [Let’s force social apps to remove numbers

[2018-11-12 10:31] micheleminno opened #61 "Humanise social media"
# Humanise social media

## Info

- Name: **Humanise social media**
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

Promote design and feature changes in social media which would go in a more humane direction.

## Topics

## Objectives

## Description

## Strategy

- This theme does not require a high-level strategy. Strategies can be found on individual campaigns.

##

[2018-11-12 15:45] aschrijver commented on #61
Shall we call it `Socialize Social Media` to put stress on the fact that it is in fact an _unsocial network_?
Or maybe even shorter (this is working title, after all): **Socialize Social**

[2018-11-12 16:06] micheleminno commented on #61
Maybe the repetition 'Socialize Social' could generate confusion, what do you think of:
- Disarm Social Media

Meaning that we need to remove from Social Media all design features that turn them into harms against their users.

[2018-11-12 17:58] aschrijver commented on #60
## Summary

[replace]

Raise awareness on the role of metrics in social media, and take action to have them removed.

## Goals

[add]

- Raise awareness with the public how metrics in social media are unnecessary and only serve to increase their dependency on them.

- Organize frivolous actions for social media users to participate in, to send clear signals the platform operators and apply public

[2018-11-12 18:04] aschrijver commented on #60
I think one thing we could do is to promote some existing softwares, like the demetricators and newsfeed eradicators on [awesome-humane-tech](https://github.com/engagingspaces/awesome-humane-tech)

Another idea is creating video's of interactions with social media that shows how it look like when all metrics are removed. The 'ideal' view, let's say.

We can start a naming & shaming section on the

[2018-11-12 19:15] aschrijver commented on #61
Implying it was armed before (it is, but that has negative connotation). Maybe create a variant: **Socialized Media**

PS. You didn't fill the template fully. Do you mind me editing missing fields directly in the template?

[2018-11-13 21:08] micheleminno commented on #61
What about those?

- For dopamine-free Social Media
- triple D: Deactivating Dopamine Dispensers in Social Media

[2018-11-14 08:42] micheleminno commented on #61
I didn't know that term (to _resocialize_) even existed, it looks perfect.
I'll update the proposal.

[2018-11-17 10:31] aschrijver opened #62 "Eventful Campaign: Foster meetup culture, organize events"
# "Eventful" Campaign

## Info

- Name: **Eventful**
- Theme: [Dogfooding](https://github.com/humanetech-community/humanetech-community-awareness/blob/master/themes/dogfooding/README.md)
- Status: Launched
- Affiliation: Official
- Original idea: [@aschrijver](https://community.humanetech.com/u/aschrijver)
- Coordinator: [@aschrijver](https://community.humanetech.com/u/aschrijver)
- General discus

[2018-11-17 22:18] MelodyLiuNa commented on #15
Hi everyone,

I'm a new member of the community, also a videographer (2D and 360). I used to work for media investment agencies so have grown to be very concerned about what tech is doing to us (seeing what's happening behind the scene). Having read Tristan's articles on Medium, I wanted to contribute. Let me know if there's anything I could do to help!

Melody Liu
Reel: www.melodyliuna.com
Emails

[2018-11-19 06:02] patmatsu commented on #62
The "Dogfooding" link doesn't work. Also, I don't know if the meetup organizers will agree to being coordinated and reined in. Like ferj, they may revolt against the idea. Just expressing a concern.

[2018-11-19 06:12] patmatsu commented on #51
I think maybe we need an overall schedule so that we have some sense of the relative importance of these things. Otherwise, each issue exists in a kind of vacuum in which it (the issue) has high priority.

[2018-11-19 13:42] aschrijver commented on #62
Note: I updated the `Dogfooding` link. It didn't work from `Issues` because it was relative, not absolute, but would work once the text was transferred to its own document. Anyway, it works now.

[2018-12-09 12:31] aschrijver opened #63 "Wiki Reach: Infuse Wikimedia with Humane Tech knowledge"
# "Wiki Reach" Campaign

## Info

- Name: **Wiki Reach**
- Theme: [Dogfooding](https://github.com/humanetech-community/humanetech-community-awareness/tree/master/themes/dogfooding)
- Status: Ideation
- Affiliation: Official
- Original idea: [@aschrijver](https://community.humanetech.com/t/aware-prepare-starting-a-wikipedia-team/2923)
- Coordinator: TBD
- General discussion: [this forum topic](http

[2019-01-07 14:02] aschrijver opened #64 "Digi Rights: Applying fundamental Human Rights to the Digital Realm"
# "Digi Rights" Campaign Theme

## Info

- Name: **Digi Rights**
- General discussion: [this forum topic](https://community.humanetech.com/t/digi-rights-applying-fundamental-human-rights-to-the-digital-realm/492)

## Summary

Using the [Universal Declaration of Human Rights](http://www.un.org/en/universal-declaration-human-rights/index.html) as our guideline to define our Digital Rights and lay th

[2019-01-08 10:22] aschrijver opened #65 "Goodies: Promotional materials for the Humane Tech Community"
# "Goodies" Campaign

## Info

- Name: **Goodies**
- Theme: [Dogfooding](https://github.com/humanetech-community/humanetech-community-awareness/blob/master/themes/dogfooding/README.md)
- Status: Launched
- Affiliation: Official
- Original idea: [@aschrijver](https://community.humanetech.com/u/aschrijver)
- Coordinator: TBD
- General discussion: [This forum topic](https://community.humanetech.com/t

[2019-01-21 12:47] micheleminno opened #66 "Mind of cards"
# [Campaign name here] Campaign

## Info

- Name: **[Campaign name]**
- Theme: [Theme name here](url-to-theme-readme)
- Status: Ideation
- Affiliation: Unofficial
- Original idea: [forum username here](link-to-user-profile-summary)
- Coordinator: TBD
- General discussion: [Forum topic title here](forum-topic-url)

## Summary

Launch video channel(s) featuring short video's with exercises that mini

[2019-03-13 09:19] micheleminno opened #67 "Harmful UI"
# Harmful UI Campaign

## Info

- Name: **Harmful UI**
- Theme: [Theme name here](url-to-theme-readme)
- Status: Ideation
- Affiliation: official
- Original idea: [micheleminno](link-to-user-profile-summary)
- Coordinator: TBD
- General discussion: [Infographic about harmful app UI design building blocks (discussion)](https://community.humanetech.com/t/infographic-about-harmful-app-ui-design-build

[2019-04-26 14:43] aschrijver commented on #41
The theme proposal has been transfered to the Community Hub. It now exists at this location:

https://humanetech.community/awareness-program/campaign-themes/tech-wise/

[2019-04-26 14:43] #41 closed

[2019-04-26 14:44] aschrijver commented on #64
The theme proposal has been transfered to the Community Hub. It now exists at this location:

https://humanetech.community/awareness-program/campaign-themes/digi-rights/

[2019-04-26 14:44] #64 closed

[2019-04-26 16:25] aschrijver commented on #65
This proposal has been accepted and is now part of the Community Hub. It can be found at this location:

- https://humanetech.community/awareness-program/campaigns/goodies/

[2019-04-26 16:25] #65 closed

[2019-04-26 16:26] aschrijver commented on #62
This proposal has been accepted and is now part of the Community Hub. It can be found at this location:

- https://humanetech.community/awareness-program/campaigns/eventful

[2019-04-26 16:26] #62 closed

[2019-04-27 08:56] #15 closed

[2019-04-27 09:52] aschrijver commented on #60
This campain has been added to the Community Hub. It now exists at this location:

- https://humanetech.community/awareness-program/campaigns/dont-count-on-me/

[2019-04-27 09:52] #60 closed

[2019-04-27 10:04] aschrijver commented on #63
This campaign has been added to the Community Hub. It is now available at:

- https://humanetech.community/awareness-program/campaigns/wiki-reach/

[2019-04-27 10:04] #63 closed

[2019-04-27 10:05] #22 closed

[2019-04-27 10:07] aschrijver commented on #10
This deliverable has been added to the Community Hub. Its location can be found here:

- https://humanetech.community/awareness-program/deliverables/dirty-laundry/

[2019-04-27 10:07] #10 closed

[2019-04-27 10:10] aschrijver commented on #8
This deliverable has been added to the Community Hub. Its location can be found here:

- https://humanetech.community/awareness-program/deliverables/caffeine-injection/

[2019-04-27 10:10] #8 closed

[2019-05-18 15:18] micheleminno commented on #67
Campaign added.

[2019-05-18 15:18] #67 closed

[2019-05-24 09:01] micheleminno opened #68 "Change the logo and name in the back of the t-shirt"
Adapt the design, so it promotes the Humane Tech Community (and maybe also the Center for Humane Technology, but that comes secondary).

[2019-05-24 09:02] micheleminno opened #69 "Refine design"
Refining of the design by a graphics designer, so it is ready for production.

[2019-05-24 09:05] micheleminno opened #70 "Select the printing company and the shipping service"
Select one or more appropriate printing companies and shipping services (it could be the same company doing the shipping) where people can order the t-shirt online.

Requirements:

- **all over printing** - the shoulders contain parts of the print. This may be problematic (i.e. may not be supported by most t-shirt print companies).

- **global shipping** - T-shirt should be available for ordering

[2019-05-24 09:06] micheleminno opened #71 "Create different language versions and color variations"
We can create different language versions and color variations of the t-shirt.

[2019-05-24 09:29] micheleminno commented on #70
About **all over printing**, someone working in a print company commented:

- Because of the size of the design, it would have to be done on a table.  Screen printing is best done over a smooth even surface. Where the line goes over the thicker seams of the sleeve, the printed line would likely be a wider, not an even thickness.
For the same reason, you might need to move the design a little away

[2019-05-24 09:31] micheleminno commented on #70
About **money transactions between the buyer and the company**, an expert about this kind of campaigns started by a community without direct funds proposed:

- We start a crowdfunding campaign online where anyone requiring a t-shirt can book one. We give as payment details directly the bank account of the company that will produce the t-shirts.
When a certain expected amount is reached, the compan

[2019-05-24 09:34] micheleminno commented on #70
About services that provide individual orders:
- Check with Kickstarter and 'online forms';
- search online with keywords: ‘fulfillment centers’ and ‘individual mailing of t shirts’.

[2019-05-24 13:33] micheleminno opened #72 "Video recommendations infographic"
- Infographic showing a video being watched and other recommended ones on the right (youtube-like).
- recommended videos are more extreme and leading to stronger feelings than the original one (if the original one was a diet tutorial, a recommended one could be a video about a girl losing 50 kg, or a man eating 60 hamburgers in one minute).
- include the sources about the data in the infographic.

[2019-05-24 13:41] micheleminno opened #73 "Videos autoplaying infographic"
- Infographic showing a social media feed with videos autoplaying
- include the sources about the data in the infographic.

[2019-05-24 13:42] micheleminno opened #74 "Netflix-like timer to the next episode"
- Infographic showing a video being watched (netflix-like) and timer with next episode starting or other recommended video to watch after.
- include the sources about the data in the infographic.

[2019-05-24 13:43] micheleminno opened #75 "Filter bubble effect on search - infographics"
- Infographic showing a web search (google-like) showing results and the filter bubble effect
- include the sources about the data in the infographic.

[2019-05-25 08:06] micheleminno opened #76 "Project Guide"
As we go along, and more members join, we learn from the questions they ask us, and the problems they have. This experience is used to improve both the project structure and workflows and documenting them in this Project Guide.

This way we’ll have to spend ever less time with the ‘boring stuff’ and more on reaching the public in exciting campaigns.

[2019-05-25 08:47] micheleminno opened #77 "Growth Hacking Guide"
Project members reinforce each other’s social media promotion, by adding their own Likes, Shares, and add Comments. They can become more influential in their own social media channel, e.g. on LinkedIn, and develop their reputation.

SO we need a guide that we will frequently update: a Growth Hacking Guide with our lessons-learned - adding the things that worked best. This way others don’t make the

[2019-05-25 12:30] micheleminno opened #78 "Meetups Space on website"
The community website at [humanetech.community](https://humanetech.community) will offer a common space for all meetup chapters (at `humanetech.community/meetups`) and individual chapter homes (at e.g. `amsterdam.humanetech.community`).

Part of the website presence is a common calendar, and individual calendars for each chapter.

[2019-05-25 13:14] micheleminno opened #79 "Improve the game"
An UI and gamification expert - [Meghan Lazier](https://docs.google.com/document/d/1L-J8KdITululpwy0GOC8RgzGnWLftL3s203DJ84xhoA/edit#heading=h.w05omscswz8k) - talked with us during the Mozilla program about this game, suggesting some possible improvement:

- add interactivity: let players add their own positive and negative cases on the fly during the game

She has [experience in gamification](htt

[2019-06-28 08:12] micheleminno opened #80 "Write an introductory text"
Write a few sentences for the introduction, something that would begin like this:

We could use some of the text we developed for the Mozilla sprint event.

[2019-06-28 08:34] micheleminno commented on #80
HTC aims to be the reference point - gathering people and partners worldwide - for creative awareness campaigns about the harms of addictive and harmful technologies, and - most of all - proposing and guiding to systemic and technological solutions, coming with a humane purpose and design, aligned with our own needs and long term aspirations, evaluated by us for what they bring into our lives.

[2019-06-28 08:34] micheleminno commented on #80
What do you think @patmatsu ?

[2019-07-01 07:59] patmatsu commented on #80
Mic, I recorded this a couple times and started to change a few things here and there. What do you think of this text:

HTC aims to be the reference point - gathering people and partners worldwide - for creative awareness campaigns about the harms of addictive and invasive technologies. HTC proposes to guide people to systemic and technological solutions, starting with a humane purpose and design.

[2019-07-14 22:16] patmatsu commented on #80
Here is the text that should appear on the webpage for the podcast; please feel free to edit as you see fit. Thanks for all your help, Mic.

---

**Summary**

The first in a series, this podcast covers free, libre, open-source software (FLOSS) and the creation of browser addons to improve user security and privacy. Among the humane-tech principles discussed are the following:

- The FLOSS movement

[2019-07-15 08:32] micheleminno opened #81 "Transcribe the podcast n.1 content"

[2019-07-15 08:35] micheleminno commented on #81
HTC aims to be the reference point - gathering people and partners worldwide - for creative awareness campaigns about the harms of addictive and invasive technologies. HTC proposes to guide people to systemic and technological solutions, starting with a humane purpose and design. We evaluate technology for what it brings into our lives - how it supports our long-term needs and aspirations. Hello,

[2019-07-15 08:38] micheleminno opened #82 "Create an image/icon for the podcast"
Like [here](https://humanetech.com/podcast/) for the CHT podcast.

[2019-07-15 15:10] patmatsu commented on #80
Very happy with how this looks. Thanks, Mic!

[2019-07-16 05:29] patmatsu commented on #80
Transcript is coming along. Finished 8" and have about 13" left.

[2019-07-20 16:00] micheleminno commented on #82
An idea: the circle of community people, with one of them going to the center and speaking to the others about something relevant he/she knows or did.

![htc podcast icon](https://user-images.githubusercontent.com/832220/61617302-b3872480-ac6a-11e9-91a1-b82d2cebe77a.jpg)

[2019-07-22 07:37] micheleminno commented on #80
**Summary**

Though this discussion appears to be about a technical matter, it is much more than that. In the course of talking about FLOSS and his three addons, Gokul makes these ethical-philosophical points:

* the free software (FLOSS) movement expands and strengthens human rights, among them the right to knowledge and transparency
* sharing code (under freedom-respecting licenses) is a global

[2019-07-22 16:11] patmatsu commented on #80
**Summary**

Though this discussion appears to be about a technical matter, it is much more than that. In the course of talking about FLOSS and his three addons, Gokul makes these ethical-philosophical points:

* the free software (FLOSS) movement expands and strengthens human rights, among them the right to knowledge and transparency
* sharing code (under freedom-respecting licenses) is a global

[2019-07-22 16:57] patmatsu commented on #80
Gokul asked that this be added to the list of references:

Dion Moult on forking https://thinkmoult.com/five-fundamental-facets-of-ethical-software.html

[2019-07-23 14:08] #80 closed, assigned to micheleminno, patmatsu

[2019-07-23 14:08] #81 closed, assigned to micheleminno, gkrishnaks, patmatsu

[2019-07-24 10:36] micheleminno commented on #82
Updated the image (it's [here](https://www.canva.com/folder/FADT2FUV2EY)):

![podcast-icon](https://user-images.githubusercontent.com/832220/61787311-d141be80-ae0f-11e9-8f70-07e5945d9c2f.png)

[2019-07-24 10:37] #82 closed, assigned to micheleminno